<section class="files-section">
  <div class="lux">
    <div class="card">
      <div class="files card-body">
        <h3 class="h3"><%= t('works.uploads.post_curation.attachments.heading') %></h3>
        <!-- Only render file download table if there are files in S3 -->
        <% if @work.post_curation_uploads.empty? %>
          <p><%= t('works.form.post_curation_uploads.empty') %></p>
        <% else %>
          <table id="files-table" class="table">
            <thead>
              <tr>
                <th scope="col" nowrap="nowrap"><span><%= t('works.form.post_curation_uploads.filename') %></span></th>
                <th scope="col"><span><%= t('works.form.post_curation_uploads.created_at') %></span></th>
              </tr>
            </thead>
            <tbody>
              <% @work.post_curation_uploads.each_with_index do |file, ix| %>
                <tr class="files">
                  <td>
                    <span>
                      <i class="bi bi-file-arrow-down"></i>
                      <a href="<%= rails_blob_path(file, disposition: "attachment") %>" class="documents-file-link" target="_blank" title="<%= file.filename %>"><%= post_curation_uploads_file_name(file: file) %></a>
                    </span>
                  </td>
                  <td>
                    <span><%= file.created_at %></span>
                  </td>
                </tr>
              <% end %>
            </tbody>
            <tfoot></tfoot>
          </table>
        <% end %>
        <!-- End of file download table -->
      </div>
    </div>
  </div>
</section>
