<section class="files-section">
  <div class="lux">
    <div class="card">
      <div class="files card-body">
        <h3><%= "#{@work.pre_curation_uploads_count} #{'File'.pluralize(@work.pre_curation_uploads_count)}"%> in precuration storage  </h3>
        <table id="files-table" class="table">
          <thead>
            <tr>
              <th scope="col" nowrap="nowrap"><span><%= t('works.form.curation_uploads.filename') %></span></th>
              <th scope="col"><span><%= t('works.form.curation_uploads.created_at') %></span></th>
              <th scope="col"><span>Size</span></th>
            </tr>
          </thead>
          <tbody>
            <% if @work.uploads.empty? %>
              <tr class="files">
                <td><span><%= t('works.form.curation_uploads.empty') %></span></td>
                <td><span></span></td>
              </tr>
              <% end %>
            </tr>
          </tbody>
          <tfoot></tfoot>
        </table>
        <!-- End of file download table -->
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $(function() {
    // Wire DataTable for the file list.
    // Related documentation
    //   AJAX loading: https://datatables.net/manual/ajax
    //   Column display configuration: https://datatables.net/examples/advanced_init/column_render.html
    $('#files-table').DataTable({
      ajax: {
        url: '<%= work_file_list_path(@work) %>',
        dataSrc: ''
      },
      columns: [
        { data: 'filename' },
        { data: 'last_modified' },
        { data: 'size' }
      ],
      columnDefs: [
        {
          render: function (data, type, row) {
            return `<a href="<%= @work.id %>/download/${data}">${data}</a>`;
          },
          targets: 0,
        }
      ]
    });
  });
</script>
