<!--
  Information about Bootstrap tabs
  https://getbootstrap.com/docs/5.0/components/navs-tabs/
  https://getbootstrap.com/docs/5.0/components/navs-tabs/#javascript-behavior
-->
<div class="d-flex align-items-start">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link active" id="v-pills-title-tab" data-bs-toggle="pill" data-bs-target="#v-pills-title" type="button" role="tab" aria-controls="v-pills-title" aria-selected="true">Title</button>
    <button class="nav-link" id="v-pills-creator-tab" data-bs-toggle="pill" data-bs-target="#v-pills-creator" type="button" role="tab" aria-controls="v-pills-creator" aria-selected="false">Creator(s)</button>
    <button class="nav-link" id="v-pills-identifiers-tab" data-bs-toggle="pill" data-bs-target="#v-pills-identifiers" type="button" role="tab" aria-controls="v-pills-identifiers" aria-selected="false">Identifiers</button>
    <button class="nav-link" id="v-pills-publisher-tab" data-bs-toggle="pill" data-bs-target="#v-pills-publisher" type="button" role="tab" aria-controls="v-pills-publisher" aria-selected="false">Publisher</button>
    <button class="nav-link" id="v-pills-type-tab" data-bs-toggle="pill" data-bs-target="#v-pills-type" type="button" role="tab" aria-controls="v-pills-type" aria-selected="false">Resource Type</button>
  </div>

  <%= form_with(model: dataset) do |form| %>
  <div class="tab-content" id="v-pills-tabContent">

    <div class="tab-pane fade show active" id="v-pills-title" role="tabpanel" aria-labelledby="v-pills-title-tab">
        <% if dataset.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(dataset.errors.count, "error") %> prohibited this dataset from being saved:</h2>
            <ul>
              <% dataset.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= form.hidden_field :work_id %>

        <% @datacite.titles.each do |title| %>
          <% if title.main? %>
            <div class="field">
              <%= form.label :title %><br>
              <%= form.text_field :title %>
            </div>
          <% elsif title.alternative? %>
            <div class="field">
              <%= form.label :alternative_title %><br>
              <input type="text" id="alternative_title" name="alternative_title" value="<%= title.title %>" />
            </div>
          <% end %>
        <% end %>

        <div class="field">
          <%= form.label :collection %><br>
          <%= form.collection_select :collection_id, current_user.submitter_collections, :id, :title, {:include_blank => true}, {:class => 'form-control'} %>
        </div>

        <div class="field">
          ARK: <%= form.object.ark %>
        </div>
        <br />


    </div>
    <div class="tab-pane fade" id="v-pills-creator" role="tabpanel" aria-labelledby="v-pills-creator-tab">
      <h2>Creator(s)</h2>

      <!-- Render the existing creators in the record -->
      <% @datacite.creators.each_with_index do |creator, i| %>
        <div class="field">
          <%= form.label :orcid %><br>
          <input type="text" id="orcid_<%= i %>" name="orcid_<%= i + 1 %>" value="<%= creator.orcid %>" />
        </div>

        <div class="field">
          <%= form.label :given_name %><br>
          <input type="text" id="given_name_<%= i %>" name="given_name_<%= i + 1 %>" value="<%= creator.given_name %>" />
        </div>

        <div class="field">
          <%= form.label :family_name %><br>
          <input type="text" id="family_name_<%= i %>" name="family_name_<%= i + 1 %>" value="<%= creator.family_name %>" />
        </div>
      <% end %>

      <div>
        <%= link_to "Add Creator", "#", id: "btn-add-creator", class: "btn btn-secondary" %>
      </div>

      <!--
        We use these hidden fields to keep track of how many creators are on the form
        initially and how many are added on the fly. This helps to process the data
        when the form is submitted.
       -->
      <input type="text" id="existing_creator_count" name="existing_creator_count" value="<%= @datacite.creators.count %>" />
      <input type="text" id="new_creator_count" name="new_creator_count" value="0" />

      <div id="new-creators-anchor">...</div>

    </div>
    <div class="tab-pane fade" id="v-pills-identifiers" role="tabpanel" aria-labelledby="v-pills-identifiers-tab">
      identifiers go here
    </div>
    <div class="tab-pane fade" id="v-pills-publisher" role="tabpanel" aria-labelledby="v-pills-publisher-tab">
      publisher goes here
    </div>
    <div class="tab-pane fade" id="v-pills-type" role="tabpanel" aria-labelledby="v-pills-type-tab">
      resource type goes here
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to 'Cancel', @dataset, class: "btn btn-secondary" %>
  </div>
  <% end %>
</div>


<script>
  $(function() {
    var incrementNewCreatorCount = function() {
      var counter = parseInt($("#new_creator_count")[0].value, 10);
      counter++
      $("#new_creator_count")[0].value = counter
      return counter
    }

    var addCreatorPlaceholder = function(el) {
      var newCreatorCount = incrementNewCreatorCount();
      var orcidId = `new_orcid_${newCreatorCount}`;
      var familyNameId = `new_family_name_${newCreatorCount}`;
      var givenNameId = `new_given_name_${newCreatorCount}`;
      var html = `
      <div class="field">
        ORCID:<br>
        <input type="text" id="${orcidId}" name="${orcidId}" value="" />
      </div>

      <div class="field">
        Given name:<br>
        <input type="text" id="${givenNameId}" name="${givenNameId}" value="" />
      </div>

      <div class="field">
        Family name:<br>
        <input type="text" id="${familyNameId}" name="${familyNameId}" value="" />
      </div>`;
      $("#new-creators-anchor").append(html);
    }

    $("#btn-add-creator").on("click", function(el) {
      addCreatorPlaceholder(el);
      return false;
    });
  });
</script>
