<h1><%= @dataset.title %></h1>

<div>
  <p>DOI: <%= link_to(@dataset.doi, @dataset.doi) %></p>
  <p>ARK: <%= link_to(@dataset.ark, @dataset.ark_url) %></p>
  <p>Created by: <%= @dataset.created_by_user.uid %></p>
  <p>Collection: <%= @dataset.collection_title %></p>
</div>


<section class="files-section">
  <div class="lux">
    <div class="card">
      <div class="files card-body">
        
        <!-- Only render file download table if there are files in S3 -->
        
        <% if @files && @files.empty? %>
          <p>No files in S3</p>
        <% else %>
          <table id="files-table" class="table">
            <thead>
              <tr>
                <th scope="col" nowrap="nowrap"><span>#</span></th>
                <th scope="col" nowrap="nowrap"><span>Filename</span></th>
                <th scope="col"><span>Last Modified</span></th>
                <th scope="col" nowrap="nowrap"><span>Filesize</span></th>
              </tr>
            </thead>
            <tbody>
              <% @files&.each_with_index do |file, ix| %>
                <tr class="files">
                  <th scope="row">
                    <span><span><%= ix + 1 %></span></span>
                  </th>
                  <td>
                    <span>
                      <i class="bi bi-file-arrow-down"></i>
                      <a href="<%= file.filename %>" class="documents-file-link" target="_blank" title="<%= file.filename %>"><%= truncate(file.filename, length: 80) %></a>
                    </span>
                  </td>
                  <td>
                    <span><%= file.last_modified %></span>
                  </td>
                  <td>
                    <span><span><%= number_to_human_size(file.size) %></span></span>
                  </td>
                </tr>
              <% end %>
            </tbody>
            <tfoot></tfoot>
          </table>
        <% end %> 
        
        <!-- End of file download table -->
        
      </div>
    </div>
  </div>
</section>

<div>
  <%= link_to("Edit", edit_dataset_path(@dataset), class: "btn btn-primary") %>
  <% if @dataset.state == "AWAITING-APPROVAL" %>
    <%= button_to("Approve Dataset", approve_dataset_path(@dataset), class: "btn btn-secondary", method: :post) %>
  <% elsif @dataset.state == "APPROVED" %>
    <%= button_to("Withdraw Dataset", withdraw_dataset_path(@dataset), class: "btn btn-secondary", method: :post) %>
  <% elsif @dataset.state == "WITHDRAWN" %>
    <%= button_to("Resubmit for approval", resubmit_dataset_path(@dataset), class: "btn btn-secondary", method: :post) %>
  <% end %>
</div>

<% if @dataset.work.state_history.count > 0 %>
  <br/>
  <h2>Approval History</h2>
  <ul>
  <% @dataset.work.state_history.each do |history| %>
    <li>On <%= history.created_at %> <%= history.user.uid %> changed to <%= history.state %>
  <% end %>
  </ul>
<% end %>
