<h1><%= @dataset.title %></h1>

<div>
  <p>ARK: <%= link_to(@dataset.ark, @dataset.ark_url) %></p>
  <p>Created by: <%= @dataset.created_by_user.uid %></p>
  <p>Collection: <%= @dataset.collection_title %></p>
</div>

<div>
  <%= link_to("Edit", edit_dataset_path(@dataset), class: "btn btn-primary") %>
  <% if @dataset.state == "AWAITING-APPROVAL" %>
    <%= link_to("Approve Dataset", approve_dataset_path(@dataset), class: "btn btn-secondary", method: :post) %>
  <% elsif @dataset.state == "APPROVED" %>
    <%= link_to("Withdraw Dataset", withdraw_dataset_path(@dataset), class: "btn btn-secondary", method: :post) %>
  <% elsif @dataset.state == "WITHDRAWN" %>
    <%= link_to("Resubmit for approval", resubmit_dataset_path(@dataset), class: "btn btn-secondary", method: :post) %>
  <% end %>
</div>

<% if @dataset.work.state_history.count > 0 %>
  <br/>
  <h2>Approval History</h2>
  <ul>
  <% @dataset.work.state_history.each do |history| %>
    <li>On <%= history.created_at %> <%= history.user.uid %> changed to <%= history.state %>
  <% end %>
  </ul>
<% end %>
