<div class="wizard-area">

  <h1>New Submission Policy</h1>
  <%= render "works_wizard/wizard_progress", wizard_step: 0 %>

  <p> Before you proceed, please review the PDC policies for <a href="https://drive.google.com/file/d/1GECvKoOjwqvKTKYvyNThCyzTWjD6cPxs/view?usp=sharing" target="_blank">Acceptance and Retention</a>
   and <a href="https://drive.google.com/file/d/1E8EgfyL2yB2rH0xCIIqYrTFE0QfY8Sk_/view?usp=sharing" target="_blank">Distribution</a> to be sure your intended submission is eligible for PDC,
   that you are authorized to grant permission for redistribution, and that you are prepared to pay any applicable costs. If you are unsure about any of these points, please <a href="mailto:prds@princeton.edu" target="_blank">reach out to our team</a> before submitting.
  </p>

  <%= form_tag work_policy_path, method: :post %>
    <%= check_box_tag(:agreement) %>
    <%= label_tag(:agreement, "I understand this policy and wish to continue.") %>
    <hr />
    <div class="actions">
      <%= link_to "Cancel", root_path, class: "btn btn-secondary" %>
      <%= submit_tag "Confirm", class: "btn btn-secondary wizard-next-button", id: "submit-button", disabled: true %>
    </div>
  </form>

</div>
