<h1>File Upload Snapshots</h1>
<% @uploads.each do |upload| %>
  <section class="upload container-fluid">
    <div class="upload__attributes container-fluid">
      <div class="row">
        <header class="upload__filename">
          <%= upload.filename_display %>
        </header>
      </div>
    </div>
    <% unless upload.snapshots.empty? %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">
              ID
            </th>
            <th scope="col">
              Version
            </th>
            <th scope="col">
              Last Modified
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% upload.snapshots.each do |upload_snapshot| %>
            <tr>
              <th scope="row">
                <%= link_to("Download", download_upload_snapshot_path(upload_snapshot), class: "btn btn-success") %>
              </th>
              <td>
                <%= upload_snapshot.key %>
              </td>
              <td>
                <%= upload_snapshot.version %>
              </td>
              <td>
                <%= upload_snapshot.updated_at %>
              </td>
              <th scope="row">
                <% if @work.created_by_user_id == current_user.id %>
                  <%= button_to("Delete", delete_upload_snapshot_path(upload_snapshot), class: "btn btn-danger", method: :delete) %>
                <% else %>
                  <%= button_to("Delete", delete_upload_snapshot_path(upload_snapshot), class: "btn btn-danger", method: :delete, disabled: true) %>
                <% end %>
              </th>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <%= render 'form', uploads: [upload] %>
  </section>
<% end %>
