<div class="field">
  <p class="doi-text">
    These metadata properties are not required,
    but we strongly recommend using these when applicable for your submission.
  </p>
  <details>
    <summary>Keywords<br />Please enter at least three keywords, separated by commas, to describe your submission.</summary>
    <ul>
      <li>Keywords are used by the repository and search engines to improve discoverability.</li>
      <li>Choose keywords that have some specificity for your deposit. For example, good
keywords might include “Bombus, Pathogen, Entomology” rather than “Biology” which
may be too general.</li>
    </ul>
  </details>

  <input type="text" id="keywords" name="keywords" class="input-text-long"
    value="<%= @work.resource.keywords.join(', ') %>"
  />
</div>

<%= render(partial: 'works/funder_table') %>

<%= render(partial: 'works/related_objects_table') %>

<%= render(partial: 'works/individual_contributors_table') %>

<%= render(partial: 'works/organizational_contributors_table') %>

<%= render(partial: 'works/domains') %>

<%= render(partial: 'works/communities') %>
