<div class="section-title">
  <div class="field">
    Publisher:<span class="required-field">*</span><br>
    <input type="text" id="publisher" name="publisher" class="input-text-long" value="<%= @work.resource.publisher %>" />
  </div>

  <div class="field">
    Publication Year:<span class="required-field">*</span><br>
    <input type="text" id="publication_year" name="publication_year" class="input-text-year" value="<%= @work.resource.publication_year %>" />
  </div>

  <!-- Collection field -->
  <div class="field">
    Collection: <span class="required-field">*</span><br>
    <select id="collection_id" name="collection_id" class="input-text-long" >
      <% current_user.submitter_collections.each do |collection| %>
        <option value="<%=collection.id%>" <%= @work.collection_id == collection.id ? "selected" : "" %>><%=collection.title%></option>
      <% end %>
    </select>
  </div>
</div>
