<p>
  These metadata properties include defaults for any submissions published to the Research Data Repository.
  These fields can only be changed by the group moderators.
  Please reach out to the curator for assistance with any desired changes.
</p>


<!-- Publisher field -->
<div class="field">
  Publisher:<span class="required-field required-field-star">*</span><br>
  <input type="text" id="publisher" name="publisher" class="input-text-long" value="<%= @work.resource.publisher %>" <%= is_group_admin ? '' : 'readonly' %> />
</div>

<!-- Publication year field -->
<div class="field">
  Publication Year:<span class="required-field required-field-star">*</span><br>
  <input type="text" id="publication_year" name="publication_year" class="input-text-year" value="<%= @work.resource.publication_year %>" <%= is_group_admin ? '' : 'readonly' %> />
</div>

<!-- DOI field (mostly for legacy DSpace works) -->
<div class="field">
    DOI: <span class="text-muted field-hint">(enter the Digital Object Identifier, e.g. 10.80021/62qy-nj36)</span><br>
    <input type="text" id="doi" name="doi" class="input-text-long" value="<%= @work.doi %>" <%= (is_group_admin && @form_resource_decorator.doi_mutable?) ? '' : 'readonly' %>/>
</div>

<!-- ARK field (mostly for legacy DSpace works) -->
<div class="field">
  ARK: <span class="text-muted field-hint">(enter the core ARK identifier, e.g. ark:/88435/xyz123)</span><br>
  <input type="text" id="ark" name="ark" class="input-text-long" value="<%= @work.resource.ark %>" <%= is_group_admin ? '' : 'readonly' %> />
</div>

<!-- Resource Type -->
<div class="field">
  Resource Type:<span class="required-field required-field-star">*</span><span class="text-muted field-hint">(please see <%= link_to("the DataCite schema documentation", "https://schema.datacite.org/meta/kernel-4.4/", target: "_blank", rel: "nofollow") %>)</span><br>
  <input type="text" id="resource_type" name="resource_type" class="input-text-long" value="<%= @work.resource_type %>" <%= is_group_admin ? '' : 'readonly' %> />
</div>

<!-- Resource Type General -->
<div class="field">
  Resource Type General:<span class="required-field required-field-star">*</span><span class="text-muted field-hint">(please see <%= link_to("the DataCite schema documentation", "https://schema.datacite.org/meta/kernel-4.4/", target: "_blank", rel: "nofollow") %> )</span><br>
  <input type="hidden" name="resource_type_general" value="<%= @work.resource_type_general %>"/> <!-- put the value in the form as disabled will not send the data back -->
  <select id="resource_type_general" name="resource_type_general" <%= is_group_admin ? '' : 'disabled' %> >
    <% Work.resource_type_general_values.each do |value| %>
      <option value="<%= value %>" <%= @work.resource_type_general == value ? "selected" : "" %>><%= value %></option>
    <% end %>
  </select>
</div>

<!-- Version number -->
<div class="field">
  Version: <br>
  <input type="text" id="version_number" name="version_number" class="input-text-long" value="<%= @work.resource.version_number %>" <%= is_group_admin ? '' : 'disabled' %> />
</div>



<!-- Group field -->
<div class="field">
  <%= t('works.form.group') %>: <span class="required-field required-field-star">*</span><br>
  <input type="hidden" name="group_id" value="<%= @work.group_id%>"/> <!-- put the value in the form as disabled will not send the data back -->
  <select id="group_id" name="group_id" class="input-text-long"  <%= is_group_admin ? '' : 'disabled' %> >
    <% current_user.submitter_groups.each do |group| %>
      <option value="<%=group.id%>" <%= @work.group_id == group.id ? "selected" : "" %>><%=group.title%></option>
    <% end %>
  </select>
</div>

<!-- Date field (for setting an embargo on the Work) -->
<div class="field">
  <label class="form-label" for="start"><%= t('works.form.embargo_date') %><span class="text-muted field-hint">: (date until which the work is embargoed)</span></label>
  <input class="form-control form-control__date" type="date" id="embargo-date" name="embargo-date" min="<%= (Time.zone.now.to_date + 1) %>" value="<%= @work.embargo_date %>" />
</div>

<!-- Collection Tags field -->
<div class="field">
  <%= t('works.form.collection_tags') %>: <span class="text-muted field-hint">(enter tags that identify the collect in a comma separated list, e.g. Humanities, Life Sciences)</span><br>
  <input type="text" id="collection_tags" name="collection_tags" class="input-text-long" value="<%= @work.resource.collection_tags.join(', ') %>" <%= is_group_admin ? '' : 'readonly' %> />
</div>
