<div class="section-title">
  <!-- DOI field (mostly for legacy DSpace works) -->
  <div class="field">
    <% if  @wizard_mode || @work.persisted? %>
      DOI: <br>
      <%= @work.doi %>
    <% else %>
      DOI: <span class="text-muted field-hint">(enter the Digital Object Identifier, e.g. 10.80021/62qy-nj36)</span><br>
      <input type="text" id="doi" name="doi" class="input-text-long" value="<%= @work.doi %>"/>
    <% end %>

  </div>

  <!-- ARK field (mostly for legacy DSpace works) -->
  <div class="field">
    ARK: <span class="text-muted field-hint">(enter the core ARK identifier, e.g. ark:/88435/xyz123)</span><br>
    <input type="text" id="ark" name="ark" class="input-text-long" value="<%= @work.resource.ark %>" />
  </div>

  <!-- ResourceType -->
  <div class="field">
    ResourceType:<span class="required-field">*</span><span class="text-muted field-hint">(please see <%= link_to("the DataCite schema documentation", "https://schema.datacite.org/meta/kernel-4.4/", target: "_blank", rel: "nofollow") %>)</span><br>
    <input type="text" id="resource_type" name="resource_type" class="input-text-long" <%= current_user.can_admin?(@work.collection) ? "" : "disabled" %> value="<%= @work.resource_type %>" />
  </div>

  <!-- resourceTypeGeneral -->
  <div class="field">
    resourceTypeGeneral:<span class="required-field">*</span><span class="text-muted field-hint">(please see <%= link_to("the DataCite schema documentation", "https://schema.datacite.org/meta/kernel-4.4/", target: "_blank", rel: "nofollow") %> )</span><br>
    <select id="resource_type_general" name="resource_type_general" class="" <%= current_user.can_admin?(@work.collection) ? "" : "disabled" %>>
      <% Work.resource_type_general_options.each_pair do |key, value| %>
        <option value="<%= key %>" <%= @work.resource_type_general == key.to_sym ? "selected" : "" %>><%= value %></option>
      <% end %>
    </select>
  </div>

  <!-- Version number -->
  <div class="field">
    Version: <span class="required-field">*</span><br>
    <select id="version_number" name="version_number" class="input-version" >
      <% (1..10).each do |i| %>
        <option value="<%= i %>" <%= i.to_s == @work.resource.version_number ? "selected" : "" %>><%= i %></option>
      <% end %>
    </select>
  </div>

  <!-- Collection Tags field -->
  <div class="field">
    Collection Tags: <span class="text-muted field-hint">(enter tags that identify the collect in a comma separated list, e.g. Humanities, Life Sciences)</span><br>
    <input type="text" id="collection_tags" name="collection_tags" class="input-text-long" value="<%= @work.resource.ark %>" />
  </div>

</div>
