<%= render 'form_errors' %>

<!--
  Information about Bootstrap tabs
  https://getbootstrap.com/docs/5.0/components/navs-tabs/
  https://getbootstrap.com/docs/5.0/components/navs-tabs/#javascript-behavior
-->
<div class="d-flex align-items-start">

<%= render  partial: 'form_nav', locals:  { additional_selected: false, required_selected: true,
                                            additional_button_class: "", required_button_class: "show active" }  %>

  <div>
    <%= form_with(model: @work, class: ["work-form"], data: { work: @work.form_attributes }) do |form| %>
      <%= render partial: 'form_metadata', locals:  { form: form, required_class: "show active", additional_class: "" } %>


      <hr />
      <div class="deposit-uploads">
        <% if @work.approved? %>
          <section class="uploads">
            <h2 class="h2"><%= t('works.uploads.post_curation.heading') %></h2>
            <%= render(partial: 'works/s3_resources', locals: { edit_mode: false }) %>
          </section>
        <% else %>
          <section class="uploads">
            <h2 class="h2"><%= t('works.uploads.post_curation.heading') %></h2>
            <%= render(partial: 'works/s3_resources', locals: { edit_mode: true, form: form }) %>
          </section>
          <div class="container-fluid deposit-uploads">
            <!-- Uses Uppy for uploading -->
            <span id="uppy_upload_url" class="hidden"><%= work_upload_files_path(@work) %></span>
            <div id="file-upload-area"></div>
            <button id="add-files-button" class="btn btn-secondary" style="width: 200px;"><i class="bi bi-plus-circle"></i> Add More Files</button>
            <div id="file-error" class="error_box"></div>
          </div>
        <% end %>
      </div>

      <hr />
      <div class="actions">
        <%= link_to 'Cancel', @work, class: "btn btn-secondary" %>
        <% if @work.persisted? %>
          <%= form.submit "Save Work", class: "btn btn-primary wizard-next-button", id: "btn-submit" %>
        <% else %>
          <%= form.submit (migrating? ? "Migrate" : "Create"), class: "btn btn-primary wizard-next-button", id: "btn-submit", name: "submit" %>
        <% end %>
      </div>

      <%= render 'form_hidden_fields' %>
    <% end %>
  </div>
</div>
