<!--
  Information about Bootstrap tabs
  https://getbootstrap.com/docs/5.0/components/navs-tabs/
  https://getbootstrap.com/docs/5.0/components/navs-tabs/#javascript-behavior
-->
<div class="d-flex align-items-start">

  <!-- This div holds the "tabs menu" section that we display on the left -->
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link active" id="v-pills-title-tab" data-bs-toggle="pill" data-bs-target="#v-pills-title" type="button" role="tab" aria-controls="v-pills-title" aria-selected="true">Title</button>
    <button class="nav-link" id="v-pills-creator-tab" data-bs-toggle="pill" data-bs-target="#v-pills-creator" type="button" role="tab" aria-controls="v-pills-creator" aria-selected="false">Creator(s)</button>
    <button class="nav-link" id="v-pills-additional-tab" data-bs-toggle="pill" data-bs-target="#v-pills-additional" type="button" role="tab" aria-controls="v-pills-additional" aria-selected="false">Additional Metadata</button>
  </div>

  <%= form_with(model: @work) do |form| %>
    <!-- This div holds the actual tabs content (displayed on the right) -->
    <div class="tab-content" id="v-pills-tabContent">

      <div class="tab-pane fade show active" id="v-pills-title" role="tabpanel" aria-labelledby="v-pills-title-tab">
        <!--
          These are "form level" errors, not specific to the title and perhaps we should move those outside
          the tabs to a "form level" section, but for now we keep them here.
        -->
        <% if @work.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@work.errors.count, "error") %> prohibited this dataset from being saved:</h2>
            <ul>
              <% @work.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= form.hidden_field :work_id %>
        <%= render 'titles_form' %>
      </div>

      <div class="tab-pane fade" id="v-pills-creator" role="tabpanel" aria-labelledby="v-pills-creator-tab">
        <%= render 'creators_form' %>
      </div>

      <div class="tab-pane fade" id="v-pills-additional" role="tabpanel" aria-labelledby="v-pills-additional-tab">
        <h2>Additional Metadata</h2>
        <p>yada yada yada</p>
      </div>
    </div>

    <hr />
    <div class="actions">
      <%= form.submit class: "btn btn-primary" %>
      <%= link_to 'Cancel', @work, class: "btn btn-secondary" %>
    </div>

    <!--
      We use these hidden fields to keep track of how many creators and titles are on the form
      initially and how many are added on the fly. This helps to process the data when the form
      is submitted.
    -->
    <div>
      <input type="text" id="existing_title_count" name="existing_title_count" value="<%= @work.datacite_resource.titles.count %>" class="hidden" />
      <input type="text" id="new_title_count" name="new_title_count" value="0" class="hidden" />
      <input type="text" id="creator_count" name="creator_count" value="<%= @work.datacite_resource.creators.count %>" class="hidden" />
    </div>
  <% end %>
</div>

<script>
  $(function() {
    var incrementCounter = function(elementId) {
      var counter = parseInt($(elementId)[0].value, 10);
      counter++
      $(elementId)[0].value = counter
      return counter
    }

    var addCreatorHtml = function(num, orcid, givenName, familyName) {
      var rowId = `creator_row_${num}`;
      var orcidId = `orcid_${num}`;
      var givenNameId = `given_name_${num}`;
      var familyNameId = `family_name_${num}`;
      var rowHtml = `<tr id="${rowId}">
        <td>
          <input type="text" id="${orcidId}" name="${orcidId}" value="${orcid}" placeholder="0000-0000-0000-0000" />
        </td>
        <td>
          <input type="text" id="${givenNameId}" name="${givenNameId}" value="${givenName}" />
        </td>
        <td>
          <input type="text" id="${familyNameId}" name="${familyNameId}" value="${familyName}" />
        </td>
        <td>
          <span>
            <a class="delete-creator" data-creator-num="${num}" href="#" title="Remove this creator">
              <i class="bi bi-trash delete_icon" data-creator-num="${num}"></i>
            </a>
          </span>
        </td>
      </tr>`;
      $("#creators-table").append(rowHtml);
      $("#" + orcidId).focus();
    }

    var addTitlePlaceholder = function(_el) {
      var newTitleCount = incrementCounter("#new_title_count");
      var titleId = `new_title_${newTitleCount}`;
      var typeId = `new_title_type_${newTitleCount}`;
      var html = `
        <div class="field">
          <select id="${typeId}" name="${typeId}">
            <option value="AlternativeTitle">Alternative</option>
            <option value="Subtitle">Subtitle</option>
            <option value="TranslatedTitle">Translated</option>
            <option value="Other">Other</option>
          </select>
          <br>
          <input type="text" id="${titleId}" name="${titleId}" value="" />
        </div>`;
      $("#new-titles-anchor").append(html);
    }

    $("#btn-add-creator").on("click", function(el) {
      var num = incrementCounter("#creator_count");
      addCreatorHtml(num, "", "", "");
      return false;
    });

    $("#btn-add-title").on("click", function(el) {
      addTitlePlaceholder(el);
      return false;
    });

    var deleteCreator = function(num, existing) {
      var rowToDelete = `#creator_row_${num}`;
      var orcidId = `#orcid_${num}`;
      var givenNameId = `#given_name_${num}`;
      var familyNameId = `#family_name_${num}`;
      var name = $(orcidId).val() + " " + $(givenNameId).val() + " " + $(familyNameId).val();
      var emptyName = name.trim().length == 0;
      if (emptyName) {
        // delete it without asking
        $(rowToDelete).remove();
      } else {
        if (confirm(`Remove creator ${name}`)) {
          $(rowToDelete).remove();
        }
      }
    }

    // Delete button for creators.
    //
    // Notice the use of $(document).on("click", selector, ...) instead of the
    // typical $(selector).on("click", ...). This syntax is required so that
    // we can detect the click even on HTML elements _added on the fly_ which
    // is the case when a user adds a new creator.
    // Reference: https://stackoverflow.com/a/17086311/446681
    $(document).on("click", ".delete-creator", function(el) {
      var num = $(el.target).data("creator-num");
      deleteCreator(num);
      return false;
    });

    // Display the initial list of creators.
    //
    // Eventually we will need to render them in a predefined
    // order but we don't have order data availble yet.
    $(".creator-data").each(function(ix, el) {
      var num = $(el).data("num");
      var orcid = $(el).data("orcid");
      var givenName = $(el).data("given-name");
      var familyName = $(el).data("family-name");
      addCreatorHtml(num, orcid, givenName, familyName);
    });

  });
</script>
