<!-- Funding section -->
<div class="field">
  <details><summary>Funding Reference<br />Please enter the names of any sponsoring agencies and the applicable grant numbers or
  funding codes that should be associated with this item.</summary>
    Please enter the names of any sponsoring agencies and the applicable grant numbers or funding codes that should be associated with this item.
    <ul>
      <li>Funder Name: The name of the funder. (Example: National Science Foundation)</li>
      <li>Award Number: The grant number or funding code for your award</li>
      <li>Award URI: The URL web address for your award</li>
      <li>ROR is a persistent identifier for research organizations. <a href="https://ror.org/search" target="_blank">You may look up a ROR here.</a></li>
      <li>Provide the full ROR URL and the Name will be filled automatically</li>
    </ul>
  </details>


  <table id="funding">
    <thead>
      <tr>
        <th>Funder Name</th>
        <th>Award Number</th>
        <th>Award URI</th>
        <th>ROR</th>
      </tr>
    </thead>
    <tbody class="sortable">
      <% @form_resource_decorator.funders.each do |funder| %>
        <tr>
          <td>
            <input name="funders[][funder_name]" value="<%= funder&.funder_name %>" class="ror-output" />
          </td>
          <td>
            <input name="funders[][award_number]" value="<%= funder&.award_number %>" />
          </td>
          <td>
            <input name="funders[][award_uri]" value="<%= funder&.award_uri %>" />
          </td>
          <td>
            <input name="funders[][ror]" value="<%= funder&.ror %>" placeholder="https://ror.org/........" pattern="https://ror.org/0[a-z|0-9]{6}[0-9]{2}" class="ror-input" />
          </td>
          <%= render(partial: 'works/row_controls') %>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <button class="btn btn-secondary btn-add-row">
            Add Another Funder
          </button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
