<!-- Individual Contributors section -->
<div class="section-title">
  <b>Additional Individual Contributors</b>
</div>

<!--
  Render the list of creators a hidden SPANs that are then added below
  the HTML TABLE via JavaScript. This is so that we have a single way
  of rendering creators already on the record *and* creators added
  on the fly.
-->
<table>
  <thead>
    <tr class="header-row">
      <th>ORCID</th>
      <th>Given name</th>
      <th>Family name</th>
      <th>Role</th>
      <th>&nbsp;</th> <!-- move icon-->
      <th>&nbsp;</th> <!-- delete icon-->
    </tr>
  </thead>
  <tbody id="contributors-table" class="sortable"></tbody>
  <tfoot>
    <tr>
      <td colspan="3">
        <%= link_to "Add Another Individual Contributor", "#", id: "btn-add-contributor", class: "btn btn-secondary" %>
      </td>
    </tr>
  </tfoot>
</table>

<% @work.resource.individual_contributors.each_with_index do |contributor, i| %>
  <span class="hidden contributor-data"
    data-num="<%= i + 1 %>"
    data-orcid="<%= contributor.orcid %>"
    data-given-name="<%= contributor.given_name %>"
    data-family-name="<%= contributor.family_name %>"
    data-role="<%= contributor.type %>"
    data-sequence="<%= contributor.sequence || 0 %>">
  </span>
<% end %>
