<!-- Individual Contributors section -->
<div class="field">
  <details>
    <summary>Additional Individual Contributors<br />Enter (at minimum) the given name (i.e, first name) and family name (i.e., last name) of persons who are not authors but have contributed to creating this item.</summary>
    <ul>
      <li>We recommend entering an ORCID ID. <%= link_to("You may look up an ORCID ID here.", "https://orcid.org/orcid-search/search", target: "_blank") %></li>
    </ul>
  </details>

  <table id="contributors-table">
    <thead>
      <tr class="header-row">
        <th>ORCID</th>
        <th>Given name</th>
        <th>Family name</th>
        <th>Role</th>
        <th>&nbsp;</th> <!-- move icon-->
        <th>&nbsp;</th> <!-- delete icon-->
      </tr>
    </thead>
    <tbody class="sortable">
      <% skipped_roles = ['DISTRIBUTOR', 'FUNDER', 'HOSTING_INSTITUTION', 'REGISTRATION_AGENCY', 'REGISTRATION_AUTHORITY', 'RESEARCH GROUP'] %>
      <% @form_resource_decorator.individual_contributors.each do |contributor| %>
        <tr class="contributors-table-row">
          <td>
            <input name="contributors[][orcid]" value="<%= contributor&.orcid %>" class="orcid-entry-contributor"  placeholder="0000-0000-0000-0000" />
          </td>
          <td>
            <input name="contributors[][given_name]" value="<%= contributor&.given_name %>" class="given-entry-contributor" />
          </td>
          <td class="contributors-table-row-family-name">
            <input name="contributors[][family_name]" value="<%= contributor&.family_name %>" class="family-entry-contributor" />
          </td>
          <td>
            <select name="contributors[][role]">
              <option value="" <%= contributor&.type == '' ? 'selected' : ''%> ></option>
              <% @form_resource_decorator.contributor_types.each do |role| %>
                <option value="<%= role.key %>" <%= contributor&.type == role.key ? 'selected' : ''%>><%= role.value.titleize %></option>
              <% end %>
            </select>
          </td>
          <%= render(partial: 'works/row_controls') %>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">
          <button class="btn btn-secondary btn-add-row">
            Add Another Individual Contributor
          </button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
