<% given_name = capture do %>
  <%= person.value %>
  <% if person.type.present? %>
    (<%= person.type.titleize %>)
  <% end %>
<% end.strip.html_safe %>

<span class="author-name">
  <% if person.orcid.present? %>
    <img alt="ORCID logo" src="https://info.orcid.org/wp-content/uploads/2019/11/orcid_16x16.png" width="16" height="16" />
    <a href="https://orcid.org/<%= person.orcid %>" target="_blank"><%= given_name %></a>
  <% else %>
    <%= given_name -%>
  <% end %>
</span>
<% if person.affiliation.present? %>
  &nbsp;from&nbsp;
  <span class="affiliation">
    <% if person.affiliation_ror.present? %>
      <%= render("ror_link", ror_link: person.affiliation_ror, ror_name: person.affiliation) %>
    <% else %>
      <%= person.affiliation -%>
    <% end %>
  </span>
<% end %>
