<!-- Individual Contributors section -->
<div class="field">
  <details>
    <summary>Additional Organizational Contributors<br />Enter the name of an organization who has contributed to creating this item.</summary>
    <ul>
      <li>ROR is a persistent identifier for research organizations. <a href="https://ror.org/search" target="_blank">You may look up a ROR here.</a></li>
      <li>Name regards the research organization. Filling in the ROR will auto-populate the Name field.</li>
      <li>Popular RORs for this service include:</li>
        <ul>
          <li>Princeton University: <%= link_to("https://ror.org/00hx57361", "https://ror.org/00hx57361", target: "_blank") %></li>
          <li>Princeton Plasma Physics Laboratory: <%= link_to("https://ror.org/03vn1ts68", "https://ror.org/03vn1ts68", target: "_blank") %></li>
          <li>Geophysical Fluid Dynamics Laboratory: <%= link_to("https://ror.org/03vmn1898", "https://ror.org/03vmn1898", target: "_blank") %></li>
        </ul>
    </ul>
  </details>

  <table>
    <thead>
      <tr class="header-row">
        <th>ROR</th>
        <th>Name</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody class="sortable">
      <% @form_resource_decorator.organizational_contributors.each do |contributor| %>
        <tr>
          <td>
            <input name="organizational_contributors[][ror]" value="<%= contributor&.ror %>" placeholder="https://ror.org/........" pattern="https://ror.org/0[a-z|0-9]{6}[0-9]{2}" class="ror-input" />
          </td>
          <td>
            <input name="organizational_contributors[][value]" value="<%= contributor&.value %>" class="ror-output"/>
          </td>
          <td>
            <select name="organizational_contributors[][type]">
              <% ::Datacite::Mapping::ContributorType.map { |x| {key: x.key, value: x.value.titleize} }.each do |contributor_type| %>
                <% if not ["CONTACT_PERSON", "RELATED_PERSON"].include?(contributor_type[:key].to_s) %>
                  <option value="<%= contributor_type[:key] %>"
                    <%= contributor&.type == contributor_type[:key] ? "selected" : "" %>
                  ><%= contributor_type[:value] %></option>
                <% end %>
              <% end %>
            </select>
          </td>
          <%= render(partial: 'works/row_controls') %>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <button class="btn btn-secondary btn-add-row">
            Add Another Organizational Contributor
          </button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
