<!-- Related Objects section -->
<details><summary>Related Objects</summary>
  If this item is backing any particular publication or is otherwise cited directly in published works, please provide the persistent identifier(s) for the referencing publication(s) (e.g., a complete DOI link).
</details>

<div class="related-objects">
  <table>
    <thead>
      <tr class="header-row">
        <th>Related Identifier (Example: URI for a related publication or resource)</th>
        <th>Related Identifier Type</th>
        <th>Relation Type</th>
      </tr>
    </thead>
    <tbody id="related-objects-table">
      <% (@work.resource.related_objects + [nil]).each do |related_object| %>
        <tr>
          <td>
            <input name="related_object[][related_identifier]" value="<%= related_object&.related_identifier %>" />
          </td>
          <td>
            <select name="related_object[][related_identifier_type]">
              <option value="" ></option>
              <% ::Datacite::Mapping::RelatedIdentifierType.map(&:value).each do |type| %>
                <option
                  value="<%= type %>"
                  <%= related_object&.related_identifier_type == type ? "selected" : "" %>
                ><%= type %></option>
              <% end %>
            </select>
          </td>
          <td>
            <select name="related_object[][relation_type]">
              <option value="" ></option>
              <% ::Datacite::Mapping::RelationType.map(&:value).each do |type| %>
                <option
                  value="<%= type %>"
                  <%= related_object&.relation_type == type ? "selected" : "" %>
                ><%= type %></option>
              <% end %>
            </select>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">
          <%= link_to "Add Another Related Object", "#", id: "btn-add-related-object", class: "btn btn-secondary" %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
