<!-- Related Objects section -->
<div class="field">
  <details><summary>Related Objects<br />Please enter the identifier (e.g., URL address, persistent identifier) for any publications, websites, or other resources related to the submission.</summary>
    Here are some common examples:
    <ul>
      <li>Related paper: [insert DOI number], DOI, IsCitedBy.</li>
      <li>The website for related software that deposited code is dependant upon to run: [insert URL address], URL, Requires.</li>
    </ul>
  </details>

  <div class="related-objects">
    <table>
      <thead>
        <tr class="header-row">
          <th>Related Identifier</th>
          <th>Related Identifier Type</th>
          <th>Relation Type</th>
        </tr>
      </thead>
      <tbody id="related-objects-table" class="sortable">
        <% related_objects = if @work.nil? || @work.resource.related_objects.empty?
          [nil]
        else
          @work.resource.related_objects
        end %>
        <% related_objects.each do |related_object| %>
          <tr class="related-objects-table-row">
            <td>
              <input name="related_objects[][related_identifier]" value="<%= related_object&.related_identifier %>" class="related_identifier-related_objects"  placeholder="" />
            </td>
            <td>
              <select name="related_objects[][related_identifier_type]">
                <option value="" <%= related_object&.related_identifier_type == '' ? 'selected' : ''%> ></option>
                <% Datacite::Mapping::RelatedIdentifierType.to_a.map do |type| %>
                  <option value="<%= type.value %>" <%= related_object&.related_identifier_type == type.value ? 'selected' : ''%>><%= type.value %></option>
                <% end %>
              </select>
            </td>
            <td>
              <select name="related_objects[][relation_type]">
                <option value="" <%= related_object&.relation_type == '' ? 'selected' : ''%> ></option>
                <% Datacite::Mapping::RelationType.to_a.sort_by(&:value).map do |type| %>
                  <option value="<%= type.value %>" <%= related_object&.relation_type == type.value ? 'selected' : ''%>><%= type.value %></option>
                <% end %>
              </select>
            </td>
            <%= render(partial: 'works/row_controls') %>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">
          <button class="btn btn-secondary btn-add-row">
            Add Another Related Object
          </button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
