<div class="field">
  <p class="doi-text">
    By initiating this new submission, we have reserved a draft DOI for your use.
    This DOI will not go live until the data review process is complete,
    but you can provide this DOI to a publisher now.
    This unique identifier will become searchable at the completion of this process.
  </p>
  <% if @wizard_mode %>
    <input id="doi" name="doi" value="<%= @work.resource.doi %>" readonly/>
  <% else %>
    <p>DOI: <%= @work.resource.doi %></p>
  <% end %>
</div>

<%= render(partial: 'works/required_title', locals: {allow_many: true}) %>

<!-- Description (one for now)-->
<div class="field">
  <%= render partial: "required_form_field_details", locals: { name: "description", display_name: "Description",
                                                       primary_detail: "Please enter a brief summary of this deposit specifically - not identical to the abstract of a corresponding paper.",
                                                       field_detail: "The description should provide a comprehensive summary describing the contents of this deposit. Provide details that explain the contents of your deposit; such as how it was created, what it was created for, the nature of the materials constituting the item (scope, purpose, methods, etc.), as opposed to substantive claims made in related publications.",
                                                      }
  %>
  <textarea type="text" id="description" name="description" class="input-text-long"
    rows="5" cols="120" placeholder=""><%= @work.resource.description %></textarea>
</div>

<!-- Rights Management field -->
<div class="field">
  <details>
    <summary>Rights<span class="required-field required-field-star">*</span><br />Please specify the applicable license governing the use and reproduction of this deposit.</summary>
    <ul>
      <li>Help with <a href="https://creativecommons.org/about/cclicenses/">Creative Commons Licenses</a> (recommended for data)</li>
      <li>Information about <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU License</a> for software and code</li>
      <li>Information about <a href="https://opensource.org/license/mit/">MIT License</a> for software and code</li>
      <li>Please contact <a href="mailto:PRDS@princeton.edu">PRDS@princeton.edu</a> if you would like to add another license or need assistance to complete this information.</li>
    </ul>
    <%= link_to("Guidance on picking a license", "https://ufal.github.io/public-license-selector/", {target: "_blank"}) %>.
  </details>
  <select id="rights_identifier" name="rights_identifier" class="input-text-long" >
    <% ::PDCMetadata::Rights.all.each do |rights| %>
      <option value="<%=rights.identifier%>"
        <%= @work.resource.rights&.identifier == rights.identifier || (@work.resource.rights&.identifier.nil? && rights.identifier == "CC BY") ? "selected" : "" %>
      ><%=rights.name%></option>
    <% end %>
  </select>
</div>

<%= render(partial: 'works/required_creators_table') %>

<br />
