<% if @wizard_mode %>
  <div>
    <p class="doi-text">By initiating this new submission, we have reserved a draft DOI for your use. This unique
      identifier will become searchable at the completion of this process.</p>
    <input class="text-not-editable" type="text" id="doi" name="doi" value="<%= @work.doi %>" readonly/>
  </div>
  <div>&nbsp;</div>
<% else %>
  <div class="field">
    <p class="doi-text">By initiating this new submission, we have reserved a draft DOI for your use.<br/>
      This unique identifier will become fully minted and searchable at the completion of this process.</p>
    <p>DOI: <%= @work.doi %></p>
  </div>
<% end %>

<%= render(partial: 'works/required_title', locals: {allow_many: true}) %>

<!-- Description (one for now)-->
<div class="field">
  Description:<span class="required-field">*</span><br>
  <textarea type="text" id="description" name="description" class="input-text-long" rows="5" cols="120"><%= @work.datacite_resource.description %></textarea>
</div>

<%= render(partial: 'works/required_creators_table') %>

<br />
