<% if @wizard_mode %>
  <div>
    <p class="doi-text">By initiating this new submission, we have reserved a draft DOI for your use. This unique
      identifier will become searchable at the completion of this process.</p>
    <input class="text-not-editable" type="text" id="doi" name="doi" value="<%= @work.resource.doi %>" readonly/>
  </div>
  <div>&nbsp;</div>
<% else %>
  <div class="field">
    <p class="doi-text">By initiating this new submission, we have reserved a draft DOI for your use.<br/>
      This unique identifier will become fully minted and searchable at the completion of this process.</p>
    <p>DOI: <%= @work.resource.doi %></p>
  </div>
<% end %>

<%= render(partial: 'works/required_title', locals: {allow_many: true}) %>

<!-- Description (one for now)-->
<div class="field">
  Description:<span class="required-field">*</span><br>
  <textarea type="text" id="description" name="description" class="input-text-long" rows="5" cols="120"><%= @work.resource.description %></textarea>
</div>

<!-- Rights Management field -->
<div class="field">
  Rights:<span class="required-field">*</span><span class="text-muted field-hint">(<%= link_to("need help selecting a license for your dataset?", "https://spdx.org/licenses/", {target: "_blank"}) %>)</span><br>
  <select id="rights_identifier" name="rights_identifier" class="input-text-long" >
    <option value="" <%= @work.resource.rights.nil? ? "selected" : "" %>></option>
    <% ::PDCMetadata::Rights.all.each do |rights| %>
      <option value="<%=rights.identifier%>" <%= @work.resource.rights&.identifier == rights.identifier ? "selected" : "" %>><%=rights.name%></option>
    <% end %>
  </select>
</div>

<%= render(partial: 'works/required_creators_table') %>

<br />
