<!-- Creators section -->
<div class="field">
  <%= render partial: "/works/required_form_field_details", locals: { name: "creators", display_name: "Creator(s)",
                                                              primary_detail: "Enter (at minimum) the given name (i.e, first name) and family name (i.e., last name) of all
                                                              persons primarily responsible for creating this item. At least one creator must be provided.",
                                                              field_detail: "
                                                              <ul>
                                                              <li> We recommend entering an ORCID ID. You may <a href=\"https://orcid.org/orcid-search/search\" target=\"_blank\">look up an ORCID ID here</a>.
                                                              <li>ROR is a persistent identifier for research organizations. <a href=\"https://ror.org/search\" target=\"_blank\">You may look up a ROR here</a>.
                                                              <li>Affiliation regards the research organization. Filling in the ROR will auto-populate the
                                                              Affiliation field.
                                                              <li>Popular RORs for this service include:</li>
                                                              <ul>
                                                                <li>Princeton University: <a href=\"https://ror.org/00hx57361\" target=\"_blank\">https://ror.org/00hx57361</a></li>
                                                                <li>Princeton Plasma Physics Laboratory: <a href=\"https://ror.org/03vn1ts68\" target=\"_blank\">https://ror.org/03vn1ts68</a></li>
                                                                <li>Geophysical Fluid Dynamics Laboratory: <a href=\"https://ror.org/03vmn1898\ target=\"_blank\">https://ror.org/03vmn1898</a></li>
                                                              </ul>
                                                              </ul>",
                                                              field_error: "Must provide at least one creator"
                                                              }
  %>

  <!--
    Render the list of creators a hidden SPANs that are then added below
    the HTML TABLE via JavaScript. This is so that we have a single way
    of rendering creators already on the record *and* creators added
    on the fly.
  -->
  <table id="creators-table">
    <thead>
      <tr class="header-row">
        <th>Given name<span class="required-field required-field-star" title="Given name for your submission must be indicated">*</span></th>
        <th>Family name<span class="required-field required-field-star" title="Family name for your submission must be indicated">*</span></th>
        <th>ORCID</th>
        <th>Affiliation</th>
        <th>ROR</th>
        <th>&nbsp;</th> <!-- move icon-->
        <th>&nbsp;</th> <!-- delete icon-->
      </tr>
    </thead>
    <tbody class="sortable">
      <% @form_resource_decorator.creators.each do |creator| %>
        <tr class="creators-table-row">
        <td>
          <span class="hidden given-name-required-message"><i class="bi bi-exclamation-diamond-fill required-field"></i>&nbsp;Must provide a given name</span>
          <input name="creators[][given_name]" value="<%= creator&.given_name %>" class="given-entry-creator" />
        </td>
        <td class="creators-table-row-family-name">
          <span class="hidden family-name-required-message"><i class="bi bi-exclamation-diamond-fill required-field"></i>&nbsp;Must provide a family name</span>
          <input name="creators[][family_name]" value="<%= creator&.family_name %>" class="family-entry-creator" />
        </td>
        <td>
          <input name="creators[][orcid]" value="<%= creator&.orcid %>" class="orcid-entry-creator"  placeholder="0000-0000-0000-0000" />
        </td>
        <td class="creators-table-row-affiliation">
          <input name="creators[][affiliation]" value="<%= creator&.affiliation %>" class="affiliation-entry-creator ror-output" />
        </td>
        <td>
          <input name="creators[][ror]" value="<%= creator&.affiliation_ror %>" placeholder="https://ror.org/........" pattern="https://ror.org/0[a-z0-9]{6}[0-9]{2}" class="ror-input" />
        </td>
        <%= render(partial: 'works/row_controls') %>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">
          <button class="btn btn-secondary btn-add-row">
            Add Another Creator
          </button>
          <button class="btn btn-secondary btn-add-user-creator">
            Add me as a Creator
          </button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
