<div class="field">
  <p class="doi-text">
    By initiating this new submission, we have reserved a draft DOI for your use.
    This DOI will not go live until the data review process is complete,
    but you can provide this DOI to a publisher now.
    This unique identifier will become searchable at the completion of this process.
  </p>
  <% if @wizard_mode %>
    <input id="doi" name="doi" value="<%= @work.resource.doi %>" readonly/>
  <% else %>
    <p>DOI: <%= @work.resource.doi %></p>
  <% end %>
</div>

<%= render(partial: 'works/required_title', locals: {allow_many: true}) %>

<!-- Description (one for now)-->
<div class="field">
  <%= render partial: "required_form_field_details", locals: { name: "description", display_name: "Description",
                                                       field_detail: "Please enter a brief summary of this item specifically - not identical to the abstract of a corresponding paper. The focus should be on the nature of the materials constituting the item (scope, purpose, methods, etc.), as opposed to substantive claims made in related publications.",
                                                      }
  %>
  <textarea type="text" id="description" name="description" class="input-text-long" rows="5" cols="120"
    placeholder="Please enter a brief summary describing the unique attributes of this submission. (e.g., The purpose, scope, methods, dependencies, etc. for the object(s) deposited to this submission.) It should be unique from a description or abstract used for a corresponding paper."
  ><%= @work.resource.description %></textarea>
</div>

<!-- Rights Management field -->
<div class="field">
  <details>
    <summary>Rights<span class="required-field">*</span></summary>
    Please specify any applicable licenses or other terms governing the use and reproduction of this item (e.g., CC BY 4.0 International, or MIT License).
    <%= link_to("Guidance on picking a license", "https://ufal.github.io/public-license-selector/", {target: "_blank"}) %>.
  </details>
  <select id="rights_identifier" name="rights_identifier" class="input-text-long" >
    <% ::PDCMetadata::Rights.all.each do |rights| %>
      <option value="<%=rights.identifier%>"
        <%= @work.resource.rights&.identifier == rights.identifier || (@work.resource.rights&.identifier.nil? && rights.identifier == "CC BY") ? "selected" : "" %>
      ><%=rights.name%></option>
    <% end %>
  </select>
</div>

<%= render(partial: 'works/required_creators_table') %>

<br />
