<!-- Creators section -->
<div class="field">
  <%= render partial: "required_form_field_details", locals: { name: "creators", display_name: "Creator(s)", 
                                                              field_detail: "Enter the full names of all persons primarily responsible for creating this item.
                                                              At least one creator must be provided.",
                                                              field_error: "Must provide at least one creator"
                                                              }
  %>

  <!--
    Render the list of creators a hidden SPANs that are then added below
    the HTML TABLE via JavaScript. This is so that we have a single way
    of rendering creators already on the record *and* creators added
    on the fly.
  -->
  <table id="creators-table">
    <thead>
      <tr class="header-row">
        <th>ORCID</th>
        <th>Given name</th>
        <th>Family name</th>
        <th>&nbsp;</th> <!-- move icon-->
        <th>&nbsp;</th> <!-- delete icon-->
      </tr>
    </thead>
    <tbody class="sortable">
      <% creators = if @work.nil? || @work.resource.creators.empty? 
                      [nil]
                    else
                      @work.resource.creators 
                    end %>
      <% creators.each do |creator| %>
        <tr class="creators-table-row">
        <td>
          <input name="creators[][orcid]" value="<%= creator&.orcid %>" class="orcid-entry-creator"  placeholder="0000-0000-0000-0000" />
        </td>
        <td>
          <input name="creators[][given_name]" value="<%= creator&.given_name %>" class="given-entry-creator" />
        </td>
        <td class="creators-table-row-family-name">
          <input name="creators[][family_name]" value="<%= creator&.family_name %>" class="family-entry-creator" />
        </td>
        <%= render(partial: 'works/row_controls') %>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">
          <button class="btn btn-secondary btn-add-row">
            Add Another Creator
          </button>
          <button class="btn btn-secondary btn-add-user-creator">
            Add me as a Creator
          </button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>