<section class="files-section">
  <div class="lux">
    <div class="card">
      <div class="files card-body">
        <h3><%= "#{@work.uploads.count} #{'File'.pluralize(@work.uploads.count)}"%> in
          <%= @work.approved? ? "post-curation" : "pre-curation" %> storage
        </h3>
        <table id="files-table" class="table">
          <thead>
            <tr>
              <th scope="col" nowrap="nowrap"><span>Filename</span></th>
              <th scope="col"><span>Last Modified</span></th>
              <th scope="col"><span>Size</span></th>
              <th scope="col"><span></span></th>
            </tr>
          </thead>
          <tbody>
            <% if @work.uploads.empty? %>
              <tr class="files">
                <td><span><%= t('works.form.curation_uploads.empty') %></span></td>
                <td><span></span></td>
                <td><span></span></td>
                <td><span></span></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot></tfoot>
        </table>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $(function() {
    // This is needed so that we can swap the URL during testing
    // (for more info see external_identifier_specs.rb)
    var fileListUrl = '<%= work_file_list_path(@work) %>';
    var isEditMode = <%= edit_mode %>;

    // Wire DataTable for the file list.
    // Related documentation
    //   AJAX loading: https://datatables.net/manual/ajax
    //   Column display configuration: https://datatables.net/examples/advanced_init/column_render.html
    //   Row Id: https://datatables.net/reference/option/rowId
    var filesTable = $('#files-table').DataTable({
      select: true,
      ajax: {
        url: fileListUrl,
        dataSrc: ''
      },
      rowId: 'filename',
      columns: [
        { data: 'filename' },
        { data: 'last_modified_display' },
        { data: 'size' },
        { data: 'filename' }
      ],
      columnDefs: [
        {
          render: function (data, type, row) {
            // filename
            if (type == "display") {
              var html;
              if (row.filename_display.startsWith("*")) {
                html = `<span><s>${row.filename_display.substring(1)}</s></span>`;
              } else {
                html = `<span>
                  <i class="bi bi-file-arrow-down"></i>
                  <a href="<%= @work.id %>/download?filename=${data}">${row.filename_display}</a>
                </span>`;
              }
              return html;
            }
            return data;
          },
          targets: 0,
        },
        {
          render: function (data, type, row) {
            // last_modified_display
            if (type == "display") {
              return data;
            }
            return row.last_modified; // sortable, e.g. yyyy-mm-dd hh:mm
          },
          targets: 1,
        },
        {
          render: function (data, type, row) {
            // size
            if (type == "display") {
              // with commas
              return data.toLocaleString("en-US");
            }
            return data;
          },
          targets: 2,
          className: 'dt-right'
        },
        {
          render: function (data, type, row) {
            // delete icon
            var html = null;
            if (type == "display") {
              if (row.filename_display.startsWith("*")) {
                html = `<span>
                  <a class="undo-delete-file" data-filename=${row.filename} data-filename_display=${row.filename_display} href="#">
                    Undo delete
                  </a>
                </span>`;
              } else {
                html = `<span>
                  <a class="delete-file" data-filename=${row.filename} data-filename_display=${row.filename_display} href="#">
                    Delete file
                  </a>
                </span>`;
              }
            }
            return html;
          },
          targets: 3,
          className: 'dt-right',
          sortable: false,
          visible: isEditMode
        }
      ]
    });




  });
</script>
