<h2>Title(s)</h2>

<!-- Render the main title (notice that we don't display a dropdown for this title) -->
<div class="field">
  Title:<br>
  <input type="text" id="title_main" name="title_main" value="<%= @work.datacite_resource.main_title %>" />
</div>

<!-- Render other titles in the record -->
<% @work.datacite_resource.other_titles.each_with_index do |title, i| %>
  <div class="field">
    <!-- todo: this should go into a helper -->
    <select id="title_type_<%= i + 1 %>" name="title_type_<%= i + 1 %>">
      <option value="AlternativeTitle" <%= title.title_type == "AlternativeTitle" ? "selected" : "" %>>Alternative</option>
      <option value="Subtitle" <%= title.title_type == "Subtitle" ? "selected" : "" %> >Subtitle</option>
      <option value="TranslatedTitle" <%= title.title_type == "TranslatedTitle" ? "selected" : "" %>>Translated</option>
      <option value="Other" <%= title.title_type == "Other" ? "selected" : "" %>>Other</option>
    </select>
    <br>
    <input type="text" id="title_<%= i + 1 %>" name="title_<%= i + 1 %>" value="<%= title.title %>" />
  </div>
<% end %>

<div id="new-titles-anchor"></div>

<!-- Let the user add new titles -->
<div>
  <%= link_to "Add Title", "#", id: "btn-add-title", class: "btn btn-secondary" %>
</div>

<div class="field">
  Publisher:<br>
  <input type="text" id="publisher" name="publisher" value="<%= @work.datacite_resource.publisher %>" />
</div>

<div class="field">
  Publication Year:<br>
  <input type="text" id="publication_year" name="publication_year" value="<%= @work.datacite_resource.publication_year %>" />
</div>

<!-- Collection field -->
<div class="field">
  Collection<br>
  <select id="collection_id" name="collection_id">
    <% current_user.submitter_collections.each do |collection| %>
      <option value="<%=collection.id%>"><%=collection.title%></option>
    <% end %>
  </select>
</div>

<!-- ARK field  -->
<div class="field">
  ARK: <%= @work.ark %>
</div>

<br />
