<section class="uploads-section">
  <h2><%= t('works.form.pre_curation_uploads.heading') %></h2>
  <div class="lux">
    <div class="card">
      <div class="files card-body">
        <!-- Only render file download table if there are files in S3 -->
          <table class="uploads-table table">
            <thead class="uploads-table__head">
              <tr>
                <th scope="col" nowrap="nowrap"><span><%= t('works.form.deposit_uploads.filename') %></span></th>
                <th scope="col"><span><%= t('works.form.deposit_uploads.created_at') %></span></th>
                <th scope="col"><span><%= t('works.form.deposit_uploads.replace_upload') %></span></th>
                <th scope="col"><span><%= t('works.form.deposit_uploads.delete_upload') %></span></th>
              </tr>
            </thead>
            <tbody>
              <!-- Only render file download table if there are files in S3 -->
              <tr class="uploads-row">
                <% if @work.uploads.empty? %>
                  <td><span>No files in S3</span></td>
                  <td><span>0</span></td>
                  <td></td>
                  <td></td>
                <% else %>
                  <td><span>Loading...</span></td>
                  <td><span></span></td>
                  <td></td>
                  <td></td>
                <% end %>
              </tr>
            </tbody>
            <tfoot>
            </tfoot>
          </table>
        <!-- End of file download table -->
        <div class="container-fluid deposit-uploads">
          <%= form.label("Replace all Uploads", for: :pre_curation_uploads) %>
          <%= form.file_field(:pre_curation_uploads, id: "pre_curation_uploads", multiple: true) %>
        </div>
      </div>
    </div>
  </div>
</section>
