<section class="uploads-section">
  <h2><%= t('works.form.pre_curation_uploads.heading') %></h2>
  <div class="lux">
    <div class="card">
      <div class="files card-body">
        <!-- Only render file download table if there are files in S3 -->
          <table class="uploads-table table">
            <thead class="uploads-table__head">
              <tr>
                <th scope="col" nowrap="nowrap"><span><%= t('works.form.deposit_uploads.filename') %></span></th>
                <th scope="col"><span><%= t('works.form.deposit_uploads.created_at') %></span></th>
                <th scope="col"><span><%= t('works.form.deposit_uploads.replace_upload') %></span></th>
                <th scope="col"><span><%= t('works.form.deposit_uploads.delete_upload') %></span></th>
              </tr>
            </thead>
            <tbody>
              <!-- Only render file download table if there are files in S3 -->
              <% if @work.uploads.empty? %>
                <tr class="uploads-row">
                  <td><span>No files have been uploaded</span></td>
                  <td><span></span></td>
                  <td></td>
                  <td></td>
                </tr>
              <% else %>
                <% @work.uploads.sort_by(&:filename).each_with_index do |upload, index| %>
                  <tr class="uploads-row" id="uploads-<%= upload.id %>" data-upload-key="<%= index %>">
                    <td>
                      <span>
                        <i class="bi bi-file-arrow-down"></i>
                        <a href="<%=upload.url%>" class="documents-file-link" target="_blank" title="<%= upload.key %>"><%= upload.filename %></a>
                      </span>
                    </td>
                    <td><span><%= upload.created_at %></span></td>
                    <td>
                      <input id="work-deposit-uploads-<%= upload.id %>" name="work[replaced_uploads][<%= upload.key %>]" type="file" />
                    </td>
                    <td>
                      <input id="work-uploads-<%= upload.id %>-delete" name="work[deleted_uploads][<%= upload.key %>]" type="checkbox" value="1"/>
                    </td>
                    <td></td>
                  </tr>
               <% end %>
              <% end %>
            </tbody>
            <tfoot>
            </tfoot>
          </table>
        <!-- End of file download table -->
        <div class="container-fluid deposit-uploads">
          <div id="file-error" class="error_box"></div>
          <%= form.label("Replace all Uploads", for: :pre_curation_uploads) %>
          <%= form.file_field(:pre_curation_uploads, id: "pre_curation_uploads", multiple: true) %>
        </div>
      </div>
    </div>
  </div>
</section>
