<div style="height: 27px">
  <div style="float: right;">
    <div class="wizard-progress">
      <div class="wizard-step">
        <span class="wizard-step-info">Describe</span><br>
        <span class="wizard-step-bar<%= wizard_step == 1 ? '-active' : '' %>">&nbsp;</span>
      </div>
      <div class="wizard-step">
        <span class="wizard-step-info">Readme</span><br>
        <span class="wizard-step-bar<%= wizard_step == 2 ? '-active' : '' %>">&nbsp;</span>
      </div>
      <div class="wizard-step">
        <span class="wizard-step-info">Upload</span><br>
        <span class="wizard-step-bar<%= wizard_step == 3 ? '-active' : '' %>">&nbsp;</span>
      </div>
      <div class="wizard-step">
        <span class="wizard-step-info">Review</span><br>
        <span class="wizard-step-bar<%= wizard_step == 4 ? '-active' : '' %>">&nbsp;</span>
      </div>
      <div class="wizard-step">
        <span class="wizard-step-info">Completed</span><br>
        <span class="wizard-step-bar<%= wizard_step == 5 ? '-active' : '' %>">&nbsp;</span>
      </div>
    </div>
  </div>
</div>
<hr>

