<div>
  <h2>Messages</h2>
  <% if @messages.size == 0 && !@work.submission_notes.present? %>
    No messages
  <% end %>
  <ul class="no-beads work-messages">
    <% @messages.each do |activity| %>
      <%= render partial: 'work_activity', locals: {
        activity: activity,
        event_type: activity.event_type
      } %>
    <% end %>
    <% if @work.submission_notes.present? %>
      <li class="activity-history-item">
        <span class="activity-history-title">
          Submission message
        </span>
        <div>
          <%= @work.submission_notes %>
        </div>
      </li>
    <% end %>
  </ul>

  <div id="new-message-section">
    <%= form_with url: add_message_work_path(@work) do |f| %>
      <textarea id="new-message" name="new-message" class="new-message" placeholder="leave a message" rows="5" cols="100"></textarea>
      <br/>
      <%= f.submit("Message", class: "btn btn-secondary") %>
      <span class="new-message-help">
        Simple Markdown is accepted, e.g. *italics*, **bold**, # Header 1, ## Header 2, ```code```. Use @netid to refer to others.
      </span>
    <% end %>
  </div>
</div>

<div>
  <h2>Change History</h2>
  <% if @changes.size == 0 %>
    No activity
  <% end %>
  <ul class="beads">
    <% @changes.sort_by(&:created_at).each do |activity| %>
      <%= render partial: 'work_activity', locals: {
        activity: activity,
        event_type: activity.event_type
      } %>
    <% end %>
  </ul>

  <% if ["cm7575"].include? current_user.uid %>
    <%= form_with url: add_provenance_note_path(@work) do |f| %>
      <div class="field">
        <details>
          <summary>Date</summary>
          The date in the change history your note should be given. Format as "YYY-MM-DD".
          Leave blank to use the current date and time.
        </details>
        <input id="new-provenance-date" name="new-provenance-date" ></textarea>
      </div>
      
      <div class="field">
        <details>
          <summary>Note</summary>
          The note to add to the change history. Markdown can be used.
        </details>
        <input id="new-provenance-note" name="new-provenance-note" ></textarea>
      </div>

      <%= f.submit("Add Provenance Note", class: "btn btn-secondary") %>
    <% end %>
  <% end %>
</div>
