<div class="wizard-area">
  <h1>New Submission (<%= @work.title %>)</h1>
  <%= render "wizard_progress", wizard_step: 3 %>
  <p>PDC can accommodate submissions of all sizes, but please be aware that <%= link_to "large data submissions", "https://researchdata.princeton.edu/research-lifecycle-guide/publishing-large-datasets" %> usually take more time and may require assistance from PRDS staff, and <%= link_to "very large submissions may have costs associated", "https://drive.google.com/file/d/1GECvKoOjwqvKTKYvyNThCyzTWjD6cPxs/view" %>. If you have any questions, please contact <%= link_to "prds@princeton.edu", "mailto:prds@princeton.edu" %> before proceeding.</p>
  <p>Begin the process to upload your submission. Please select the most appropriate description.</p>

  <p>My submission is...</p>

  <%= form_tag(action: "attachment_selected", id: @work) do %>
    <input type="radio" id="attachment_type" name="attachment_type" value="file_upload" class="wizard-radio-button"
      <%= @work.files_location_upload? ? "checked" : "" %>>under 100MB and I want to upload the files directly.</input><br/>

    <input type="radio" id="attachment_type" name="attachment_type" value="file_other" class="wizard-radio-button"
      <%= @work.files_location_other? ? "checked" : "" %>>more than 100MB or I am unable to upload.</input><br/>

    <div class="actions">
      <%= link_to "Go Back", work_readme_select_path(@work, wizard: true), class: "btn btn-secondary" %>
      <%= submit_tag "Continue", class: "btn btn-primary wizard-next-button" %>
    </div>
  <% end %>
</div>

