<div class="wizard-area">
  <h1>New Submission (<%= @work.title %>)</h1>
  <%= render "wizard_progress", wizard_step: 2 %>
  <p>Begin the process to upload your submission. Please select the most appropriate description.</p>

  <p>My submission is...</p>

  <%= form_tag(action: "attachment_selected", id: @work) do %>
    <input type="radio" id="attachment_type" name="attachment_type" value="file_upload" class="wizard-radio-button"
      <%= @work.files_location_upload? ? "checked" : "" %>>under 100MB and I want to upload the files directly.</input><br/>
    <input type="radio" id="attachment_type" name="attachment_type" value="file_cluster" class="wizard-radio-button"
      <%= @work.files_location_cluster? ? "checked" : "" %>>located on a Princeton research Cluster.</input><br/>
    <input type="radio" id="attachment_type" name="attachment_type" value="file_other" class="wizard-radio-button"
      <%= @work.files_location_other? ? "checked" : "" %>>more than 100MB and located somewhere else.</input><br/>

    <div class="actions">
      <%= link_to "Go Back", edit_work_path(@work, wizard: true), class: "btn btn-secondary" %>
      <%= submit_tag "Continue", class: "btn btn-primary wizard-next-button" %>
    </div>
  <% end %>
</div>

