<div class="wizard-area">
  <h1>New Submission (<%= @work.title %>)</h1>
  <%= render "wizard_progress", wizard_step: 2 %>
  <%= form_with(model: @work, scope: :patch, url: work_file_uploaded_path) do |f| %>
    <%= f.file_field :deposit_uploads %>

    <p>Once you have uploaded your files, select the "continue" button.</p>
    <div class="actions">
      <%= link_to "Go Back", work_attachment_select_url(@work, wizard: true), class: "btn btn-secondary" %>
      <%= f.submit("Continue", class: "btn btn-primary wizard-next-button") %>
    </div>
  <% end %>
</div>

