<style>
  p {
    font-size: larger;
  }

  .input-text-long {
    width: 700px;
  }

  .input-text-year {
    width: 70px;
  }

  .section-title {
    padding-top: 20px;
  }

  .doi-text {
    font-size: large;
    font-style: italic;
  }

  .add-title-button {
    color: #0c68f0;
    font-weight: bold;
    font-size: 22px;
  }
</style>

<div class="wizard-area">
  <h1>New Submission</h1>
  <%= render "wizard_progress", wizard_step: 0 %>

  <p>
    You are starting a new submission.
    By clicking on the "Create New" button, a draft DOI will be reserved for this deposit.
  </p>

  <p>
    If you have already started a submission for this deposit, then please
    <a href="<%= user_path(current_user) %>">go your dashboard</a> and complete
    the existing submission.
    You can find more documentation on the <a href="https://researchdata.princeton.edu/research-lifecycle-guide/dataspace-help">PRDS Data Repository Help Page</a>.
    If you would like to talk to a specialist about
    your submission, we may be reached at <a href="mailto:prds@princeton.edu">prds@princeton.edu</a>
  </p>

  <%= form_tag(action: "new_submission") do %>
    <%= render(partial: 'works/required_title', locals: {allow_many: false}) %>
    <%= render(partial: 'works/required_creators_table') %>
    <%= render 'form_hidden_fields' %>
    <hr />
    <div class="actions">
      <%= link_to "Go Back", root_path, class: "btn btn-secondary" %>
      <%= submit_tag "Create New", class: "btn btn-primary wizard-next-button", id: "btn-create-new" %>
    </div>
  <% end %>
</div>

<%= javascript_include_tag 'edit_work_utils' %>
