<div class="wizard-area">
  <h1>New Submission (<%= @work.title %>)</h1>
  <%= render "wizard_progress", wizard_step: 4 %>
  <%= render "license_text" %>
  <p>Data curators will review the submission for accuracy and completeness to make
    it more discoverable and reusable. Recommendations will be available in the "unfinished submissions"
    section of this form within 5-10 business days.</p>

  <%= form_tag(action: "validate", id: @work) do %>
    <textarea id="submission_notes" name="submission_notes" cols="80", rows="10"
      placeholder="(optional) Type here to leave a message for the curators"><%= @work.submission_notes %></textarea>
    <div class="actions">
      <%= link_to "Go Back", work_attachment_select_url(@work, wizard: true), class: "btn btn-secondary" %>
      <%= submit_tag "Grant License and Complete", class: "btn btn-primary wizard-next-button" %>
    </div>
  <% end %>
</div>

