<style>
  .button_to {
    display: inline;
  }

  .new-comment {
    margin-bottom: 5px;
  }

  .new-comment-help {
    color: #aca9a9;
    font-size: 12px;
  }

  .activity-history-item {
    border-style: solid;
    border-width: 1px;
    border-color: #dddcdc;
    border-radius: .25rem;
    margin-bottom: 5px;
    padding-bottom: 10px;
  }

  .activity-history-comment-title {
    background-color:#bfe9fd;
  }

  .activity-history-log-title {
    background-color:#f4d28f;
  }

  .comment-html > p {
    margin-bottom: 0px;
  }

  .comment-user-link {
    color: rgb(36, 41, 47);
    background-color: rgb(255, 248, 197);
    text-decoration-color: rgb(36, 41, 47);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto
  }
</style>

<div>
  <% if @work.draft?  || @work.awaiting_approval? || current_user.has_role?(:collection_admin, @work.collection) %>
    <%= link_to("Edit", edit_work_path(@work, wizard: @work.draft?), class: "btn btn-primary") %>
  <% end %>
  <% if @work.awaiting_approval? && current_user.has_role?(:collection_admin, @work.collection) %>
    <%= button_to("Approve Dataset", approve_work_path(@work), class: "btn btn-secondary", method: :post) %>
  <% elsif @work.approved? %>
    <%= button_to("Withdraw Dataset", withdraw_work_path(@work), class: "btn btn-secondary", method: :post) %>
  <% elsif @work.withdrawn? %>
    <%= button_to("Resubmit for approval", resubmit_work_path(@work), class: "btn btn-secondary", method: :post) %>
  <% end %>
  <% if @work.draft? && @work.created_by_user_id == current_user.id %>
    <%= button_to("Complete", work_validate_path(@work), class: "btn btn-secondary", method: :post) %>
  <% end %>
  <%= link_to "My Dashboard", user_path(current_user), class: "btn btn-secondary" %>
</div>

<h1><%= @work.title %></h1>

<% @work.resource.other_titles.each do |title| %>
  <p><b><%= title.title_type %></b>: <%= title.title %></p>
<% end %>

<p>
<% @work.resource.creators.each_with_index do |creator, ix| %>
  <%= person_orcid_link(creator.value, creator.orcid, ix < (@work.resource.creators.count-1) ) %>
<% end %>
</p>

<div>
  <p>Description:<br/>
    <%= @work.resource.description %>
  </p>
  <p>Publisher: <%= @work.resource.publisher %></p>
  <p>Publication Year: <%= @work.resource.publication_year %></p>
  <% if @work.resource.doi %>
    <p>DOI: <%= link_to(@work.resource.doi, doi_url(@work.resource.doi)) %></p>
  <% end %>
  <% if @work.resource.ark %>
    <p>ARK: <%= link_to(@work.resource.ark, ark_url(@work.resource.ark)) %></p>
  <% end %>
  <% if @work.resource.version_number %>
    <p>Version: <%= @work.resource.version_number %></p>
  <% end %>

  <% if @work.resource_type %>
    <p>Resource Type: <%= @work.resource_type %></p>
    <% if @work.resource_type_general %>
      <div class="container-fluid">
        <p>
          <small>General Type: <%= Work.resource_type_general_options[@work.resource_type_general] %></small>
        </p>
      </div>
    <% end %>
  <% end %>

  <% if @work.resource.contributors.count > 0 %>
    <p>Contributors:
      <% @work.resource.contributors.each_with_index do |contributor, ix| %>
        <%= contributor_link(contributor, ix < (@work.resource.contributors.count-1) ) %>
      <% end %>
    </p>
  <% end %>

  <% if @work.resource.related_objects.count > 0 %>
    <p>Related Objects:
      <% @work.resource.related_objects.each do |related_object| %>
        <span class="related_object"><%= related_object.relation_type %>  <%= link_to(related_object.related_identifier, related_object.related_identifier) %></span>
      <% end %>
    </p>
  <% end %>

  <p>Added by: <%= @work.created_by_user.uid %></p>
  <p>Collection: <%= @work.collection.title %></p>
  <% if @work.resource.rights.present? %>
    <p>Rights: <%= @work.resource.rights.name %> (<%= link_to(@work.resource.rights.identifier, @work.resource.rights.uri, {target: "_blank"}) %>)</p>
  <% end %>
  <% if @work.resource.keywords.count > 0 %>
    <p>Keywords:
      <% @work.resource.keywords.each do |keyword| %>
        <span class="badge bg-dark"><%= keyword %></span>
      <% end %>
    </p>
  <% end %>

  <% if @work.pre_curation_uploads.present? %>
    <p>Location: Amazon S3 Curation Storage</p>
    <p>Location notes: <%= @work.location_notes %></p>
  <% elsif @work.files_location_cluster? %>
    <p>Location: PUL Research Cluster</p>
    <p>Location notes: <%= @work.location_notes %></p>
  <% elsif @work.files_location_other? %>
    <p>Location: Other</p>
    <p>Location notes: <%= @work.location_notes %></p>
  <% end %>

  <% if @work.submission_notes.present? %>
    <p>Notes: <%= @work.submission_notes %></p>
  <% end %>

  <% if @can_curate %>
    <p>Curator: <select id="curator_select">
      <option value="no-one">(no one)</option>
      <% @work.collection.administrators.each do |user| %>
        <option value="<%= user.id %>" <%= @work.curator_user_id == user.id ? "selected" : "" %>><%= user.display_name_safe %></option>
      <% end %>
    </select></p>
  <% else %>
    <% if @work.curator_user_id.nil? %>
      <p>Curator: none</p>
    <% else %>
      <p>Curator: <%= User.find(@work.curator_user_id).display_name_safe %></p>
    <% end %>
  <% end %>
</div>

<% if @work.approved? %>
  <% if @work.post_curation_s3_resources.present? %>
    <section class="uploads">
      <h2 class="h2"><%= t('works.uploads.post_curation.heading') %></h2>
      <%= render(partial: 'works/uploads/post_curation_s3_resources') %>
    </section>
  <% end %>
<% else %>
  <% if @work.pre_curation_uploads.present? %>
    <section class="uploads">
      <h2 class="h2"><%= t('works.uploads.pre_curation.heading') %></h2>
      <%= render(partial: 'works/uploads/pre_curation_s3_resources') %>
    </section>
  <% end %>
<% end %>

<div id="activity-history">
  <% if @work.work_activity.count > 0 %>
    <h2>Activity History</h2>
    <div class="form-check form-switch">
      <input id="show-change-history" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked>
      <label class="form-check-label" for="flexSwitchCheckDefault">Show change history</label>
    </div>
    <% @work.activities.each do |activity| %>
      <div class="activity-history-item <%= activity.activity_type == 'CHANGES' ? 'activity-history-log-item' : 'activity-history-comment-item' %>">
        <div class="<%= activity.activity_type == 'CHANGES' ? 'activity-history-log-title' : 'activity-history-comment-title' %>">
          <b><%= activity.created_by_user&.display_name_safe %></b>
          <span title="<%= activity.created_at.localtime %>"><%= distance_of_time_in_words_to_now(activity.created_at) %></span>
        </div>
        <span class="comment-html"><%= activity.message_html.gsub('{USER-PATH-PLACEHOLDER}', users_path).html_safe %></span>
      </div>
    <% end %>
  <% end %>
</div>

<div id="new-comment-section">
  <%= form_with url: add_comment_work_path(@work) do |f| %>
    <textarea id="new-comment" name="new-comment" class="new-comment" placeholder="leave a comment" rows="5" cols="100"></textarea>
    <br/>
    <%= f.submit("Comment", class: "btn btn-secondary") %>
    <span class="new-comment-help">
      Simple Markdown is accepted, e.g. *italics*, **bold**, # Header 1, ## Header 2, ```code```. Use @netid to refer to others.
    </span>
  <% end %>
</div>

<script>
  $(function() {
    // Issues HTTP POST to update the curator assigned to the work.
    $("#curator_select").on("change", function(event) {
      var newCuratorId = event.currentTarget.value;
      var url = '<%= work_assign_curator_url(id: @work.id, uid: "uid-placeholder") %>';
      $.ajax({
        type: "PUT",
        url: url.replace("uid-placeholder", newCuratorId),
        data: { authenticity_token: "<%= form_authenticity_token %>" },
        success: function(data) {
          // nothing to do
        },
        error: function(response) {
          alert("Error changing curator\n" + response.responseJSON.errors[0]);
        }
      });
    });

    // For now we add all the users as a plain Javascript array.
    // If the user list gets to be too long we might want to fetch this data incrementally
    // as the user types the @mention, but for now this is OK.
    var userList = [ <%= User.all_uids_string.html_safe %> ];

    // triggeredAutocomplete (https://github.com/Hawkers/triggeredAutocomplete) is a plug-in
    // that sits on top of jQuery UI autocomplete and provides the @mention functionaly to
    // reference other users via their netid in a comments.
    //
    // Notice that https://github.com/Hawkers/triggeredAutocomplete also supports passing an
    // array of objects with structure {value: x, label: y} to display a more user friendly
    // label rather than the netid, but this approach carries another set of complications
    // (e.g. how to handle spaces, how to edit)
    $('#new-comment').triggeredAutocomplete({
      hidden: '#hidden_inputbox',
      source: userList,
      trigger: "@"
    });

    // Toggle display of change history
    $("#show-change-history").on("click", function(el) {
      $(".activity-history-log-item").toggleClass("hidden");
    });
  });
</script>
