<h1><%= @work.title %></h1>

<% @work.datacite_resource.other_titles.each do |title| %>
  <p><b><%= title.title_type %></b>: <%= title.title %></p>
<% end %>

<p>
<% @work.datacite_resource.creators.each_with_index do |creator, ix| %>
  <%= person_orcid_link(creator.value, creator.orcid, ix < (@work.datacite_resource.creators.count-1) ) %>
<% end %>
</p>

<div>
  <p>Description:<br/>
    <%= @work.datacite_resource.description %>
  </p>
  <p>Publisher: <%= @work.datacite_resource.publisher %></p>
  <p>Publication Year: <%= @work.datacite_resource.publication_year %></p>
  <p>DOI: <%= link_to(@work.doi, @work.doi) %></p>
  <p>ARK: <%= link_to(@work.ark, @work.ark_url) %></p>
  <p>Added by: <%= @work.created_by_user.uid %></p>
  <p>Collection: <%= @work.collection.title %></p>

  <% if @work.files_location_cluster? %>
    <p>Location: PUL Research Cluster</p>
    <p>Location notes: <%= @work.location_notes %></p>
  <% elsif @work.files_location_other? %>
    <p>Location: Other</p>
    <p>Location notes: <%= @work.location_notes %></p>
  <% end %>

  <% if @work.submission_notes.present? %>
    <p>Notes: <%= @work.submission_notes %></p>
  <% end %>

  <% if @can_curate %>
    <p>Curator: <select id="curator_select">
      <option value="no-one">(no one)</option>
      <% @work.collection.administrators.each do |user| %>
        <option value="<%= user.id %>" <%= @work.curator_user_id == user.id ? "selected" : "" %>><%= user.display_name_safe %></option>
      <% end %>
    </select></p>
  <% else %>
    <% if @work.curator_user_id.nil? %>
      <p>Curator: none</p>
    <% else %>
      <p>Curator: <%= User.find(@work.curator_user_id).display_name_safe %></p>
    <% end %>
  <% end %>

</div>


<section class="files-section">
  <div class="lux">
    <div class="card">
      <div class="files card-body">

        <!-- Only render file download table if there are files in S3 -->

        <% if @files && @files.empty? %>
          <p>No files in S3</p>
        <% else %>
          <table id="files-table" class="table">
            <thead>
              <tr>
                <th scope="col" nowrap="nowrap"><span>#</span></th>
                <th scope="col" nowrap="nowrap"><span>Filename</span></th>
                <th scope="col"><span>Last Modified</span></th>
                <th scope="col" nowrap="nowrap"><span>Filesize</span></th>
              </tr>
            </thead>
            <tbody>
              <% @files&.each_with_index do |file, ix| %>
                <tr class="files">
                  <th scope="row">
                    <span><span><%= ix + 1 %></span></span>
                  </th>
                  <td>
                    <span>
                      <i class="bi bi-file-arrow-down"></i>
                      <a href="<%= file.filename %>" class="documents-file-link" target="_blank" title="<%= file.filename %>"><%= truncate(file.filename, length: 80) %></a>
                    </span>
                  </td>
                  <td>
                    <span><%= file.last_modified %></span>
                  </td>
                  <td>
                    <span><span><%= number_to_human_size(file.size) %></span></span>
                  </td>
                </tr>
              <% end %>
            </tbody>
            <tfoot></tfoot>
          </table>
        <% end %>

        <!-- End of file download table -->

      </div>
    </div>
  </div>
</section>

<div>
  <%= link_to("Edit", edit_work_path(@work), class: "btn btn-primary") %>
  <% if @work.state == "AWAITING-APPROVAL" %>
    <%= button_to("Approve Dataset", approve_work_path(@work), class: "btn btn-secondary", method: :post) %>
  <% elsif @work.state == "APPROVED" %>
    <%= button_to("Withdraw Dataset", withdraw_work_path(@work), class: "btn btn-secondary", method: :post) %>
  <% elsif @work.state == "WITHDRAWN" %>
    <%= button_to("Resubmit for approval", resubmit_work_path(@work), class: "btn btn-secondary", method: :post) %>
  <% end %>
</div>

<div>
  <%= link_to "My Dashboard", user_path(current_user), class: "btn btn-primary" %>
</div>

<% if @work.work_activity.count > 0 %>
  <br/>
  <h2>Activity History</h2>
  <ul>
  <% @work.activities.each do |activity| %>
    <li>
      <span><b><%= activity.created_by_user&.display_name_safe %></b></span>
      <span><%= activity.message %></span>
      <span title="<%= activity.created_at.localtime %>"><%= distance_of_time_in_words_to_now(activity.created_at) %></span>
  <% end %>
  </ul>
<% end %>

<script>
  $(function() {
    // Issues HTTP POST to update the curator assigned to the work.
    $("#curator_select").on("change", function(event) {
      var newCuratorId = event.currentTarget.value;
      var url = '<%= work_assign_curator_url(id: @work.id, uid: "uid-placeholder") %>';
      $.ajax({
        type: "POST",
        url: url.replace("uid-placeholder", newCuratorId),
        data: { authenticity_token: "<%= form_authenticity_token %>" },
        success: function(data) {
          // nothing to do
        },
        error: function(response) {
          alert("Error changing curator\n" + response.responseJSON.errors[0]);
        }
      });
    });
  });
</script>
