<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>PDC Describe: New Submission Created</h1>
    <section>
      <p>
        <span>Hello <%= @user.given_name %>,</span>
        <span>Thank you for creating a new submission  <a href='<%= @url %>'><%= @work_title %></a>, the DOI the system generated for you <a href='<%= @doi_url %>'><%= @doi_url %></a> can be given to your paper publisher at this time although it will not be live until this data submission is accepted. When you are ready, please:</span>
      </p>
    </section>
    <section>
      <ul>
        <li>Complete your submission.</li>
        <li>Accept the distribution license and submit it</li>
      </ul>
    </section>
    <section>
      <p>A curator will then be assigned to begin the curatorial review process.</p>
    </section>
    <section>
      <p>Feedback? Answer this 2 minute survey to help PDC improve for users like you.</p>
    </section>
    <section>
      <p>
        <span>Gratefully,</span>
        <span>Research Data and Scholarship Services</span>
        <span>Princeton University Library</span>
      </p>
    </section>
  </body>
</html>