<h1><%= t('groups.form.heading') %></h1>

<%= form_with(model: @group) do |form| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>
      <ul>
        <% @group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Code" %><br>
    <%= form.object.code %>
  </div>

  <div class="field">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %><br>
    <%= form.text_area :description, :rows => 4, :cols => 50 %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to 'Cancel', @group, class: "btn btn-secondary" %>
  </div>
<% end %>

<h2>Submitters</h2>
<p>Users that are allowed to add new works to this group</p>
<ul id="submitter-list">
<% @group.submitters.each do |user| %>
  <!--
    Notice that we render the list of submitters and admins as hidden spans that are then
    picked up by the JavaScript on the page and turned into visible HTMLs with all the bells
    and whistles. This is so that we have a single way of rendering the data (both the user
    permissions already on the database *and* the user permissions added on the fly by an
    administrator).
  -->
  <span class="hidden submitter-data"
    data-uid="<%= user.uid %>"
    data-group-id="<%= @group.id %>"
    data-can-delete="<%= user.uid != current_user.uid %>"
    data-you="<%= user.uid == current_user.uid %>"></span>
<% end %>
</ul>

<div>
    <input id="submitter-uid-to-add" placeholder="netid"></input>
    <%= link_to "Add Submitter", "#", id: "btn-add-submitter", class: "btn btn-secondary" %>
    <span id="add-submitter-message"></span>
</div>

<h2 class="user-section-heading">Moderators</h2>
<p>Users that are allowed to approve submissions to this group</p>
<ul id="curator-list">
<% @group.administrators.each do |user| %>
  <span class="hidden curator-data"
    data-uid="<%= user.uid %>"
    data-group-id="<%= @group.id %>"
    data-can-delete="<%= user.uid != current_user.uid %>"
    data-you="<%= user.uid == current_user.uid %>"></span>
<% end %>
</ul>

<div>
    <input id="admin-uid-to-add" placeholder="netid"></input>
    <%= link_to "Add Moderator", "#", id: "btn-add-admin", class: "btn btn-secondary" %>
    <span id="add-admin-message"></span>
</div>

<h2 class="user-section-heading">System Administrators</h2>
<p>Users with global access to the system for administration purposes</p>
<ul id="sysadmin-list">
<% @group.super_administrators.each do |user| %>
  <span class="hidden sysadmin-data"
    data-uid="<%= user.uid %>"
    data-group-id="<%= @group.id %>"
    data-can-delete="false"
    data-super-admin="true"
    data-you="<%= user.uid == current_user.uid %>"></span>
<% end %>
</ul>

<script>
pdc = {
  ...pdc,
  deleteUserFromGroupUrl: '<%= delete_user_from_group_url(id: @group.id, uid: "uid-placeholder") %>',
  formAuthenticityToken: '<%= form_authenticity_token %>',
  groupId: '<%= @group.id %>',
  addSubmitterUrl: '<%= add_submitter_url(id: @group.id, uid: "uid-placeholder") %>',
  addAdminUrl: '<%= add_admin_url(id: @group.id, uid: "uid-placeholder") %>',
  userPath: "<%= user_path('user-placeholder') %>"
}
</script>
<%= javascript_include_tag 'edit_group_utils' %>
