<style>
  .user-section-heading {
    margin-top: 20px;
  }
</style>

<div>
  <% if @can_edit %>
    <%= link_to("Edit", edit_group_path(@group), class: "btn btn-primary") %>
  <% end %>
  <%= link_to("View all groups", groups_path) %>
</div>

<h1><%= @group.title.strip %> </h1>
<% if @group.description.present? %>
  <p><%= @group.description %></p>
<% end %>

<p>
  Users that are allowed to approve submissions to this group:
  <%= @group.administrators.map { |user| link_to(user.display_name_safe, user_path(user.uid)) }.to_sentence.html_safe %>
</p>

<% if @can_edit %>
  <h2 class="dataset-section">Datasets</h2>
  <% if @group.datasets.count > 0 %>
    <%= render partial: "dataset_table", locals: {table_id: "group_datasets", datasets: @group.datasets} %>
  <% else %>
    <p>No datasets have been created for this group.</p>
  <% end %>
<% end %>

<script type="text/javascript">
  $(function() {
    // https://www.datatables.net/reference/option/
    //  order: [] preserves the order from the backend
    var dataset_options = {searching: false, paging: false, info: false, order: []};
    $('#group_datasets').DataTable(dataset_options);
  });
</script>

