<div class="dataset-table">
  <table id="<%= table_id %>" class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Name</th>
        <th>Curator</th>
        <th>Status</th>
        <th>Last Edited</th>
      </tr>
    </thead>
    <tbody>
      <% datasets.each do |ds| %>
        <tr>
          <td><%= link_to(ds.title, work_path(ds)) %></td>
          <td><%= ds.created_by_user.uid %></td>
          <td>
              <span title="<%= ds.curator&.display_name %>"><%= ds.curator&.uid %></span>
          </td>
          <td><%= ds.state %></td>
          <td>
            <span title="<%= ds.updated_at.localtime %>"><%= distance_of_time_in_words_to_now(ds.updated_at) %></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
