<style>
  .orcid-hint {
    font-size: smaller;
  }
</style>

<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  Display name
  <br />
  <%= form.text_field :display_name %>
  </div>

  <div class="field">
  Full name
  <br />
  <%= form.text_field :full_name %>
  </div>

  <div class="field">
    ORCID
    <span id="orcid-bad" class="hidden text-muted orcid-hint"> - use format 0000-0000-0000-0000</span>
    <span id="orcid-ok" class="hidden"><img alt="ORCID logo" src="https://info.orcid.org/wp-content/uploads/2019/11/orcid_16x16.png" width="16" height="16" /></span>
    <br />
    <%= form.text_field :orcid, placeholder: "0000-0000-0000-0000" %>
  </div>

  <div class="text-left">
    <%= form.submit "Save", class: "btn btn-primary" %>
    <%= link_to 'Cancel', @user, :class => "btn btn-secondary", :role => "button" %>
  </div>
<% end %>

<script>

$(function() {
  var validateOrcid = function() {
    var value = $("#user_orcid").val().trim();
    if (value == "") {
      $("#orcid-bad").addClass("hidden");
      $("#orcid-ok").addClass("hidden");
      return;
    }

    if (isOrcid(value)) {
      $("#orcid-bad").addClass("hidden");
      $("#orcid-ok").removeClass("hidden");
    } else {
      $("#orcid-bad").removeClass("hidden");
      $("#orcid-ok").addClass("hidden");
    }
  }

  $("#user_orcid").on("input", function() { validateOrcid(); });
  validateOrcid();
});

</script>
