<% if current_user.id == @user.id %>
  <section class="card message-settings">
    <%= form_with(model: @user, class: ["form", "container"]) do |form| %>
      <fieldset>
        <legend><%= t("users.form.email_messages") %></legend>
        <div class="form-check ">
          <%= form.check_box(:email_messages_enabled, class: ["form-check-input"]) %>
          <%= label_tag(:email_messages_enabled, t("users.form.email_messages_enabled"), class: ["form-check-label"]) %>
        </div>
      </fieldset>

      <section class="card container groups"> 
        <h2><%= t('users.form.group') %></h2>
        <fieldset>
          <% @user.submitter_or_admin_groups.each do |group| %>
            <legend><%= group.title %></legend>
            <div class="form-check">
              <%= form.check_box("[groups_with_messaging][#{group.id}]", { id: "group_messaging_#{group.id}", checked: user.messages_enabled_from?(group: group), class: ["form-check-input"] }) %>
              <%= form.label("[groups_with_messaging][#{group.id}]", t("users.form.email_messages_enabled"), class: ["form-check-label"]) %>
            </div>
          <% end %>
        </fieldset>
      </section>

      <button type="submit" class="btn btn-primary"><%= t("users.form.email_messages_submit") %></button>
    <% end %>
  </section>
<% end %>

<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  Display name
  <br />
  <%= form.text_field :display_name %>
  </div>

  <div class="field">
    Family name
    <br />
    <%= form.text_field :family_name %>
  </div>

  <div class="field">
  Full name
  <br />
  <%= form.text_field :full_name %>
  </div>

  <div class="field">
    ORCID iD
    <span id="orcid-bad" class="hidden text-muted field-hint"> - use format 0000-0000-0000-0000</span>
    <span id="orcid-ok" class="hidden"><img alt="ORCID logo" src="https://info.orcid.org/wp-content/uploads/2019/11/orcid_16x16.png" width="16" height="16" /></span>
    <br />
    <%= form.text_field :orcid, placeholder: "0000-0000-0000-0000" %>
  </div>

  <div class="field">
    Princeton Net ID<br />
    <input type="text" disabled value="<%= @user.uid %>" />
  </div>

  <div class="field">
    Default group<br />
    <input type="text" disabled value="<%= @user.default_group.title %>" />
  </div>

  <div class="text-left">
    <%= form.submit "Save", class: "btn btn-primary" %>
    <%= link_to 'Cancel', @user, :class => "btn btn-secondary", :role => "button" %>
  </div>
<% end %>

<script>

$(function() {
  var validateOrcid = function() {
    var value = $("#user_orcid").val().trim();
    if (value == "") {
      $("#orcid-bad").addClass("hidden");
      $("#orcid-ok").addClass("hidden");
      return;
    }

    if (isOrcid(value)) {
      $("#orcid-bad").addClass("hidden");
      $("#orcid-ok").removeClass("hidden");
    } else {
      $("#orcid-bad").removeClass("hidden");
      $("#orcid-ok").addClass("hidden");
    }
  }

  $("#user_orcid").on("input", function() { validateOrcid(); });
  validateOrcid();
});

</script>
