<p id="notice"><%= notice %></p>

<h2>Welcome, <%= @user.display_name %></h2>

<% if @user.orcid.present? %>
    <p>ORCiD: <%= link_to(@user.orcid, Orcid.url(@user.orcid), target: "_blank") %></p>
<% else %>
    <p>You do not have an ORCiD on file. <%= link_to("Add one", edit_user_path(@user)) %> to your profile.</p>
<% end %>

<p>Net ID: <%= @user.uid %></p>
<p>Display name: <%= @user.display_name %></p>
<p>Full name: <%= @user.full_name %></p>
<p>Default collection: <%= @user.default_collection.title %></p>

<div class="text-left">
  <%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-primary", :role => "button" %>
</div>

<% if @my_works.count > 0 %>
  <h2>My Datasets</h2>
  <% @my_works.each do |ds| %>
    <p><%= link_to(ds.title, work_path(ds)) %> (<%= ds.created_by_user.uid %>), <%= ds.state %></p>
  <% end %>
<% end %>

<div class="text-left">
  <%= link_to 'Add New Dataset', new_work_path, class: "btn btn-primary", :role => "button" %>
</div>

<% if @awaiting_works.count > 0 %>
<h2>Datasets waiting to be approved</h2>
<% @awaiting_works.each do |ds| %>
    <p><%= link_to(ds.title, work_path(ds)) %> (<%= ds.created_by_user.uid %>), <%= ds.state %></p>
<% end %>
<% end %>

<% if @withdrawn_works.count > 0 %>
<h2>Datasets to have been withdrawn</h2>
<% @withdrawn_works.each do |ds| %>
    <p><%= link_to(ds.title, work_path(ds)) %> (<%= ds.created_by_user.uid %>), <%= ds.state %></p>
<% end %>
<% end %>

<!-- ETDS, Lib PDFs, and such could be added here as separate sections -->


