<p id="notice"><%= notice %></p>

<h2>Welcome, <%= @user.uid %></h2>

<% if @user.orcid.present? %>
    <p>ORCiD: <%= link_to(@user.orcid, Orcid.url(@user.orcid), target: "_blank") %></p>
<% else %>
    <p>You do not have an ORCiD on file. Click <%= link_to("here", edit_user_path(@user)) %> to add one to your profile.</p>
<% end %>

<div class="text-left">
  <%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-primary", :role => "button" %>
</div>

<h2>My Datasets</h2>
<% @my_datasets.each do |ds| %>
    <p><%= link_to(ds.title, dataset_path(ds)) %> (<%= ds.created_by_user.uid %>), <%= ds.state %></p>
<% end %>
<%= link_to 'Add New Dataset', new_dataset_path, class: "btn btn-primary" %>

<% if @awaiting_datasets.count > 0 %>
<h2>Datasets waiting to be approved</h2>
<% @awaiting_datasets.each do |ds| %>
    <p><%= link_to(ds.title, dataset_path(ds)) %> (<%= ds.created_by_user.uid %>), <%= ds.state %></p>
<% end %>
<% end %>

<% if @withdrawn_datasets.count > 0 %>
<h2>Datasets to have been withdrawn</h2>
<% @withdrawn_datasets.each do |ds| %>
    <p><%= link_to(ds.title, dataset_path(ds)) %> (<%= ds.created_by_user.uid %>), <%= ds.state %></p>
<% end %>
<% end %>

<!-- ETDS, Lib PDFs, and such could be added here as separate sections -->


