<div class="search-bar">
  <div class="search-form">
    <%= form_with(url: user_path(@user.uid), method: "get") do %>
      <%= text_field_tag(:q, @search_terms, {placeholder: "Search by DOI, Title, Name, ARK"}) %>
      <%= submit_tag("Search", class: "btn btn-primary") %>
    <% end %>
  </div>
</div>

<h2>
  <%= @my_dashboard ? "Welcome " : "" %><%= @user.display_name_safe %>
  <% if @user.super_admin? %>
    <span class="badge rounded-pill bg-primary text-bg-secondary">Administrator</span>
  <% elsif @user.moderator? %>
    <span class="badge rounded-pill bg-primary text-bg-secondary">Moderator</span>
  <% end %>
</h2>

<% if @user.pending_notifications_count > 0 %>
  <p>You have <%= @user.pending_notifications_count %> new messages.</p>
<% end %>

<% if @my_dashboard && @user.orcid.blank? %>
  <p>
    You do not have an  ORCID iD on file. <%= link_to("Add one", edit_user_path(@user)) %> to your profile.
  </p>
  <p>
    ORCID, Open Research and Contributor ID, is a non-profit organization that promotes the use of
    a unique digital identifier in an effort to help link researchers to their scholarly works
    regardless of institutional affiliation, moves or names. You can learn more about ORCID in
    our <a target="_blank" href="https://researchdata.princeton.edu/research-lifecycle-guide/orcid">ORCID guide</a>
    and register for one at <a target="_blank" href="https://orcid.org/register">https://orcid.org/register</a>.
  </p>
<% end %>

<% if @user.super_admin? %>
  <!-- not sure we want to display the collections here, it's pointless -->
<% elsif @user.moderator? %>
  <p>
    Moderator for:
    <%= safe_join(@user.admin_collections.map { |collection| link_to(collection.title, collection_path(collection)}, ", ") %>
  </p>
<% end %>

<% if @my_dashboard %>
  <div class="text-left dashboard-options">
    <%= link_to t("users.form.create_work"), new_work_path(params: {wizard: true}), class: "btn btn-primary", :role => "button", title: "Start the process to deposit a new dataset" %>
  </div>
<% else %>
  <% if @can_edit %>
    <div class="text-left dashboard-options">
      <%= link_to "Edit User", edit_user_path(@user), :class => "btn btn-primary", :role => "button" %>
    </div>
  <% end %>
<% end %>

<% if @unfinished_works.count > 0 %>
  <h2 class="dataset-section">Unfinished Submissions</h2>
  <%= render partial: "dataset_table", locals: {table_id: "unfinished_datasets", datasets: @unfinished_works} %>
<% end %>

<% if @completed_works.count > 0 %>
  <h2 class="dataset-section">Completed Submissions</h2>
  <%= render partial: "dataset_table", locals: {table_id: "completed_datasets", datasets: @completed_works} %>
<% end %>

<% if @withdrawn_works.count > 0 %>
  <h2 class="dataset-section">Withdrawn Submissions</h2>
  <%= render partial: "dataset_table", locals: {table_id: "withdrawn_datasets", datasets: @withdrawn_works} %>
<% end %>

<% if @works_found == 0 && @search_terms.present? %>
  <h2 class="dataset-section-no-works">No works found</h2>
  <p>No works found for <i><%= @search_terms %></i></p>
<% end %>

<script type="text/javascript">
  $(function() {
    // https://www.datatables.net/reference/option/
    //  order: [] preserves the order from the backend
    var dataset_options = {searching: false, paging: false, info: false, order: []};
    $('#unfinished_datasets').DataTable(dataset_options);
    $('#completed_datasets').DataTable(dataset_options);
    $('#withdrawn_datasets').DataTable(dataset_options);
  });
</script>
