<h1>How to Submit to Princeton's Research Data Repository</h1>
<h2>Who can submit to this repository?</h2>
<p>All faculty, staff and students of Princeton University are welcome to submit their digital research data and code to Princeton's PDC Research Data Repository.</p>
<h2>How to get started</h2>
<p>Fill out this quick <%= link_to('setup questionnaire', 'https://forms.gle/Agif28rNqGjQyacu7') %>. This allows the data curators to prepare for your particular needs. Depending on the size and complexity of your data, your submission can usually be processed in a matter of days.</p>
<p>For detailed information on the process, see the pages <%= link_to('Getting Started as a DataSpace Contributor', 'https://researchdata.princeton.edu/research-lifecycle-guide/getting-started-dataspace-contributor') %> and <%= link_to('DataSpace Help','https://researchdata.princeton.edu/research-lifecycle-guide/dataspace-help') %>.</p>
<p>If you have any questions, please contact the Research Data Repository curators at <%= mail_to('prds@princeton.edu') %> or you can set up a data submission consultation with the <%= link_to('Princeton Research Data Service', 'https://researchdata.princeton.edu/') %>.</p>
