<%= render '/works/form_errors' %>

<!--
  Information about Bootstrap tabs
  https://getbootstrap.com/docs/5.0/components/navs-tabs/
  https://getbootstrap.com/docs/5.0/components/navs-tabs/#javascript-behavior
-->
<div class="d-flex align-items-start">

<%= render  partial: '/works/form_nav', locals:  { additional_selected: additional_selected, required_selected: required_selected,
                                                   additional_button_class: additional_class, required_button_class: required_class}  %>

  <div>
    <%= form_with(model: @work, url: form_submit_url, class: ["work-form"], data: { work: @work.form_attributes }) do |form| %>
      <%= render partial: '/works/form_metadata', locals:  { form: form, required_class:, additional_class: } %>

      <hr />
      <div class="actions">
        <%= link_to 'Cancel', @work, class: "btn btn-secondary" %>

        <%= form.submit "Next", class: "btn btn-primary wizard-next-button", id: "btn-submit" %>
        <%= form.button 'Save', type: 'submit', name: 'save_only', value: 'true', class: "btn btn-save wizard-next-button" %>
      </div>

      <%= render '/works/form_hidden_fields' %>
    <% end %>
  </div>
</div>
