<div class="wizard-area">
  <h1><%= t('works.form.file_upload.heading', work_title: @work.title) %></h1>
  <%= render "wizard_progress", wizard_step: 3 %>
  <%= form_with(model: @work, scope: :patch, url: work_file_uploaded_path(id: @work.id)) do |f| %>
    <div id="file-error" class="error_box"></div>

    <div class="deposit-uploads">
      <section class="uploads">
        <h2 class="h2"><%= t('works.uploads.post_curation.heading') %></h2>
        <%= render(partial: 'works/s3_resources', locals: { edit_mode: true, form: f }) %>
      </section>
      <div class="container-fluid deposit-uploads">
        <span id="uppy_upload_url" class="hidden"><%= work_upload_files_path(@work) %></span>
        <div id="file-upload-area"></div>
        <button id="add-files-button" class="btn btn-secondary" style="width: 200px;"><i class="bi bi-plus-circle"></i> Add Files</button>
        <div id="file-error" class="error_box"></div>
      </div>
    </div>

    <p><%= t('works.form.file_upload.actions') %></p>
    <div class="actions">
      <%= f.submit(t('works.form.file_upload.continue'), class: "btn btn-primary wizard-next-button", id: 'file-upload') %>
      <%= f.button 'Save', type: 'submit', name: 'save_only', value: 'true', class: "btn btn-save wizard-next-button" %>
      <%= link_to t('works.form.file_upload.go_back'), work_attachment_select_url(@work, wizard: true), class: "btn btn-previous wizard-next-button" %>
      <%= link_to "Cancel", user_path(current_user), class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>

