<style>
  p {
    font-size: larger;
  }

  .input-text-long {
    width: 700px;
  }

  .input-text-year {
    width: 70px;
  }

  .section-title {
    padding-top: 20px;
  }

  .doi-text {
    font-size: large;
    font-style: italic;
  }

  .add-title-button {
    color: #0c68f0;
    font-weight: bold;
    font-size: 22px;
  }
</style>

<div class="wizard-area">

  <!--
    In theory the new submission should never submit without a title or creators, because the javascript should prevent it.
    In reality we are occasionally having issues with the javascript failing and the button submitting anyway.
    In that case we want to show the error to the user so they can fix it. -->
  <%= render '/works/form_errors' %>

  <h1>New Submission</h1>
  <%= render "wizard_progress", wizard_step: 0 %>

  <p>
    You are starting a new submission.
  </p>
  <p>
    Before you proceed, please <b>review the PDC policies</b> for <%= link_to "Acceptance and Retention", "https://drive.google.com/file/d/1GECvKoOjwqvKTKYvyNThCyzTWjD6cPxs/view", target: "_blank" %> and <%= link_to "Distribution", "https://drive.google.com/file/d/1E8EgfyL2yB2rH0xCIIqYrTFE0QfY8Sk_/view", target: "_blank" %> to be sure your 
    intended submission is eligible for PDC, that you are authorized to grant permission for redistribution, and that you are prepared to 
    pay any applicable costs. If you are unsure about any of these points, please <%= link_to "reach out to our team", "mailto:prds@princeton.edu" %> before submitting.
  </p>
  <p>
    By clicking on the "Create New" button, a draft DOI will be reserved for this deposit.
  </p>

  <p>
    If you have already started a submission for this deposit, then please
    <a href="<%= user_path(current_user) %>">go to your dashboard</a> and complete
    the existing submission.
    You can find more documentation on the <%= link_to "PRDS Data Repository Help Page", "https://researchdata.princeton.edu/research-lifecycle-guide/princeton-research-data-repository", target: "_blank" %>.
    If you would like to talk to a specialist about
    your submission, we may be reached at <a href="mailto:prds@princeton.edu">prds@princeton.edu</a>.
  </p>

  <%= form_with(model: @work, url: work_new_submission_path) do |form| %>
    <%= render(partial: 'works/required_title', locals: {allow_many: false}) %>
    <%= render(partial: 'works/required_creators_table') %>
    <%= render '/works/form_hidden_fields' %>
    <hr />
    <div class="actions">
      <%= link_to "Cancel", root_path, class: "btn btn-secondary" %>
      <%= submit_tag "Create New", class: "btn btn-primary wizard-next-button", id: "btn-create-new" %>
    </div>
  <% end %>
</div>

<%= javascript_include_tag 'edit_work_utils' %>
