<div class="wizard-area">
  <h1><%= t('works.form.file_upload.heading', work_title: @work.title) %></h1>
  <%= render "wizard_progress", wizard_step: 2 %>
  <%= form_with(model: @work, scope: :patch, url: work_readme_uploaded_path(id: @work.id)) do |f| %>

    <h2>All submissions must include a README file. READMEs:</h2>
    <ul>
      <li>Are necessary so others can understand and use your data/code;</li>
      <li>Are plain text files (.txt);</li>
      <li>And contain background information including licensing/reuse information, a file manifest, file descriptions, instructions for data/software use, file versioning, file dependencies, etc.</li>
    </ul>

    <h2><%= t('works.form.readme_upload.title') %></h2>
    <p>If you have not created a README before, a <%= link_to("template may be found here","https://drive.google.com/file/d/1LCKPj9XxpwJeHYZV2kXROM79xbiBKnkp/view?usp=sharing", target: "blank") %>. See the PRDS website for more guidance on <%= link_to("how to create a README","https://researchdata.princeton.edu/research-lifecycle-guide/readmes-research-data", target: "blank") %>. </p>

    <p><%= t('works.form.readme_upload.actions') %></p>
    <div id="file-error" class="error_box"></div>
    <div class="file-upload">
      <span id="uppy_upload_url" class="hidden"><%= work_readme_uploaded_payload_path(@work) %></span>
      <div id="file-upload-area"></div>
      <% if @readme.present? %>
        <p id="new-readme"><b><%= @readme %></b> was previously uploaded. You will replace it if you select a different file. </p>
        <button id="add-readme" class="btn btn-secondary" style="width: 200px;"><i class="bi bi-plus-circle"></i> Replace README</button>
      <% else %>
        <p id="new-readme"></p>
        <button id="add-readme" class="btn btn-secondary" style="width: 200px;"><i class="bi bi-plus-circle"></i> Add README</button>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit(t('works.form.readme_upload.continue'), class: "btn btn-primary wizard-next-button", id: 'readme-upload', disabled: @readme.blank?) %>
      <%= f.button 'Save', type: 'submit', name: 'save_only', value: 'true', class: "btn btn-save wizard-next-button" %>
      <%= link_to 'Previous', work_update_additional_path(@work), class: "btn btn-previous wizard-next-button" %>
      <%= link_to "Cancel", user_path(current_user), class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>

<!-- Provides the JavaScript to handle add/replace readme. -->
<%= javascript_include_tag 'edit_work_utils' %>
