<div class="wizard-area">
  <h1>New Submission (<%= @work.title %>)</h1>
  <%= render "wizard_progress", wizard_step: 4 %>
  <%= render "/works/license_text" %>
  <p>Data curators will review the submission for accuracy and completeness to make
    it more discoverable and reusable. Recommendations will be available in the "unfinished submissions"
    section of this form within 5-10 business days.</p>

  <%= form_with(model: @work, url: work_validate_path(@work)) do |form| %>
    <textarea id="submission_notes" name="submission_notes" cols="80", rows="10"
      placeholder="(optional) Type here to leave a message for the curators"><%= @work.submission_notes %></textarea>
    <div class="actions">
      <%= submit_tag "Grant License and Complete", class: "btn btn-primary wizard-next-button" %>
      <%= form.button 'Save', type: 'submit', name: 'save_only', value: 'true', class: "btn btn-save wizard-next-button" %>
      <%= link_to "Previous", file_location_url , class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>

